{% for optiongroup in event.optiongroup_set.all %}
<h1>{{optiongroup.name}}</h1>

    {% for option in optiongroup.option_set.all %}
    <h2>{{option.name}}</h2>

        {% if option.suboption_set.all %}

                {% for suboption in option.suboption_set.all %}

                        <h3>{{suboption.name}}</h3>

                        <ol>
                        {% for selection in suboption.selections %}
                        <li>
                        {{selection.attendee.user.username}}, {{selection.attendee.user.first_name}} {{selection.attendee.user.last_name}}
                        {% if not selection.attendee.invoice.is_paid %}
                        (ikke betalt)
                        {% endif %}
                        </li>
                        {% endfor %}
                        </ol>

                {% endfor %}

        <h3>Ingen undertilvalg</h3>

        {% endif %}

        <ol>
        {% for selection in option.selections %}
        {% if not selection.suboption %}
        <li>
        {{selection.attendee.user.username}}, {{selection.attendee.user.first_name}} {{selection.attendee.user.last_name}}
        {% if not selection.attendee.invoice.is_paid %}
        (ikke betalt)
        {% endif %}
        </li>
        {% endif %}
        {% endfor %}
        </ol>

    {% endfor %}

{% endfor %}
