{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Events</a> &rsaquo;
     <a href="../../">Events</a> &rsaquo;
     <a href="../">{{event}}</a> &rsaquo;
     Statistik
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>Statistik</h1>{% endblock %}

{% block content %}

<h3>Tilmeldinger</h3>

<table class="horizontal">
    <tr>
        <th>Tilmeldte</th>
        <td>{{event.attendees_count}}</td>
    </tr>
    <tr>
        <th>Nye</th>
        <td>{{new_attendees}} ({{new_attendees_precentage|stringformat:".1f"}}%)</td>
    </tr>
</table>

<h3>Deltagere</h3>

<table class="horizontal">
    <tr>
        <th>Deltagere</th>
        <td>{{event.checkedin_count}} ({{checkin_precentage|stringformat:".1f"}}%)</td>
    </tr>
    <tr>
        <th>Nye</th>
        <td>{{new_checkedin}} ({{new_checkedin_precentage|stringformat:".1f"}}%)</td>
    </tr>
</table>

<h3>Invoices</h3>

<table class="horizontal">
    <tr>
        <th>Oprettet</th>
        <td>{{number_invoices}} ({{invoice_total}},-)</td>
    </tr>
    <tr>
        <th>Betalt</th>
        <td>{{paid_invoices}} ({{invoice_paid}},-)</td>
    </tr>
</table>

<h3>Tilvalg</h3>

<div class="inline-group">
  <div class="tabular inline-related">
    <fieldset class="module">
    <h2>Tilvalg</h2>

   <table>
     <thead><tr>
     <th>Gruppe</th><th>Tilvalg</th><th>Tilmeldte (heraf betalt)</th>
     </tr></thead>

     {% for optiongroup in event.optiongroup_set.all %}
     {% for option in optiongroup.option_set.all %}
     <tr class="{% cycle "row1" "row2" %}">
       <td><a href="/admin/events/optiongroup/{{ optiongroup.id }}/">
         {% if forloop.first %}{{ optiongroup.name }}{% endif %}
       </a></td>
       <td><a href="/admin/events/option/{{ option.id }}/">
         {{ option.name }}
       </a></td>
       <td>{{option.attendees_count}} ({{option.paid_selections_count}})</td>
     </tr>
     {% endfor %}
     {% endfor %}
   </table>

</div>
</div>

{% endblock %}