{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Events</a> &rsaquo;
     <a href="../../">Events</a> &rsaquo;
     <a href="../">{{event}}</a> &rsaquo;
     Statistik
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>Statistik</h1>{% endblock %}

{% block content %}

<h3>Tilmeldinger</h3>

<table class="horizontal">
    <tr>
        <th>Type/Status</th>
        <th>Tilmeldt (waiting)</th>
        <th>Godkendt (accepted)</th>
        <th>Deltaget (attended)</th>
        <th>Total</th>
    </tr>
    <tr>
        <th>Nye</th>
        <td>{{waiting_new}}</th>
        <td>{{accepted_new}}</td>
        <td>{{attended_new}}</td>
        <td>{{new_count}}</td>
    </tr>
    <tr>
        <th>Alle</th>
        <td>{{waiting_count}}</th>
        <td>{{accepted_count}}</td>
        <td>{{attended_count}}</td>
        <td>{{attendees_count}}</td>
    </tr>
</table>

<h3>Betalinger</h3>

<p>Der er for {{invoice_payment_total}},- invoices hvoraf der er indbetalt {{invoice_paid}},-.</p>

<table class="horizontal">
    <tr>
        <th>Status</th>
        <th>Ikke betalte</th>
        <th>Delvist betalt</th>
        <th>Betalte</th>
        <th>Over-betalte</th>
        <th>Total</th>
    </tr>
    <tr>
        <th>Antal</th>
        <td>{{invoices_unpaid}}</td>
        <td>{{invoices_partial}}</td>
        <td>{{invoices_in_balance}}</td>
        <td>{{invoices_overpaid}}</td>
        <td>{{invoices_count}}</td>
    </tr>
</table>

<h3>Tilvalg</h3>

<table class="horizontal">
     <tr>
        <th>Gruppe</th>
        <th>Tilvalg</th>
        <th>Tilmeldte (heraf betalt)</th>
     </tr>

     {% for optiongroup in event.optiongroup_set.all %}
     {% for option in optiongroup.option_set.all %}
     <tr>
       <td><a href="/admin/events/optiongroup/{{ optiongroup.id }}/">
         {% if forloop.first %}{{ optiongroup.name }}{% endif %}
       </a></td>
       <td><a href="/admin/events/option/{{ option.id }}/">
         {{ option.name }}
       </a></td>
       <td>{{option.attendees.count}} ({{option.paid_selections_count}})</td>
     </tr>
     {% endfor %}
     {% endfor %}
   </table>

{% endblock %}