{% extends "sadmin2/site.html" %}

{% block head %}
{{ block.super }}

    {% if search_url %}
    <script type="text/javascript">
        $(function() {
            init_livesearch('{{search_url}}');
        });
    </script>
    {% endif %}

{% endblock %}

{% block content %}

    {% include "sadmin2/parts/search_box.html" %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Deltagere</th>
            <th>Kategori</th>
            <th>Starttidspunkt</th>
        </tr>
        </thead>
        <tbody id="searchresult">
        {% include "sadmin2/events/list_inner.html" %}
        </tbody>
    </table>

{% endblock %}