
{% if invalid_fragments %}

<tr>
    <td colspan="4">{% include "sadmin2/generic/parts/search_invalid_fragments.html" %}</td>
</tr>

{% else %}

{% for event in instances %}
<tr onclick="document.location = '{% url "sadmin2:event_attendees" event.pk %}';" class="clickable">
    <td><a href="{% url "sadmin2:event_attendees" event.pk %}">{{ event.title }}</a></td>
    <td>{{ event.attendees.count }}</td>
    <td>{% if event.group %}{{ event.group }}{% else %}-{% endif %}</td>
    <td>{{ event.startdate }}</td>
</tr>
{% endfor %}

{% endif %}