{% extends "sadmin2/site.html" %}

{% block content %}

<div class="row">
<div class="col-lg-12">

    <div class="btn-group pull-right">
        <a class="btn btn-success" href="{% url "sadmin2:events_create" %}">Opret arrangement</a>
    </div>

</div>
</div>

<div class="row">
<div class="col-lg-12">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Deltagere</th>
            <th>Kategori</th>
            <th>Starttidspunkt</th>
        </tr>
        </thead>
        <tbody id="searchresult">
        {% include "sadmin2/events/list_inner.html" %}
        </tbody>
    </table>

</div>
</div>

{% endblock %}