{% extends "sadmin/base/genericform.html" %}
{% load i18n %}

{% block content_title %}
    <h2>Send e-email</h2>
{% endblock %}

{% block content %}

<div class="block">
    <p>Send the e-mail to a specific user ignoring any filters defined for the e-mail.</p>
</div>

<form method="POST" action="">{% csrf_token %}

    {% for fieldset in form %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}

    <div class="submit-row" >
        <input type="submit" value="{% trans "Send e-mail" %}"
        class="default" name="do_send_email" />
    </div>

    {{media}}

</form>
{% endblock %}