<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Selvbetjening v{{ VERSION }}</title>

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{STATIC_URL}}sadmin/favicon.ico">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="{{STATIC_URL}}sadmin/css/base.css?v=1">
  <link rel="stylesheet" href="{{STATIC_URL}}sadmin/css/uni-form.css?v=1">
  <link rel="stylesheet" href="{{STATIC_URL}}sadmin/css/style.css?v=1">
  <link rel="stylesheet" href="{{STATIC_URL}}sadmin/css/django-admin-limited.css?v=1">
  <link rel="stylesheet" href="{{STATIC_URL}}sadmin/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

  {% block extrastyle %}{% endblock %}

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="{{STATIC_URL}}sadmin/css/handheld.css?v=1">  -->

  <script src="{{STATIC_URL}}sadmin/js/modernizr-1.5.min.js"></script>

  <script src="{{STATIC_URL}}sadmin/js/jquery-1.4.4.min.js"></script>
  <script src="{{STATIC_URL}}sadmin/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script src="{{STATIC_URL}}sadmin/js/fancybox/jquery.easing-1.3.pack.js"></script>
  <script src="{{STATIC_URL}}sadmin/js/script.js"></script>

  {% load admin_static %}
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>

  {% block scripts %}{% endblock %}

  {% block extrahead %}{% endblock %}

  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

</head>

<body class="{% if is_popup %}popup {% endif %}{% if is_modal %}modal {% endif %}{% block bodyclass %}{% endblock %}">
{% block body %}{% endblock %}
</body>
</html>