{% extends "sadmin/base/base.html" %}
{% load uni_form_tags %}

{% block extrastyle %}{{block.super}}
<style type="text/css">
.uniForm { width: 650px; padding: 1em;}

.uniForm .buttonHolder { margin: 1em 0 2em 0; padding:1em;	text-align:right; background-color: #729fcf; }
.uniForm .buttonHolder input { font-size: 24px; }

form label { display: block; font-weight: bold; font-size: 1.2em; margin: 0 0 0.5em 0; }
</style>
{% endblock %}

{% block body %}
<div class="center">

    <header class="login-header">
        <h1>Selvbetjening</h1>
        <h2>v{{ VERSION }}</h2>
    </header>

    {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
    {% endif %}

    <div class="login-box">

        {% with form.helper as helper %}
            {% uni_form form helper %}
        {% endwith %}

    </div>
</div>

{% endblock %}