{% extends "sadmin/base/base.html" %}
{% load navtreehelpers %}

{% block body %}
    {% if not is_popup %}
    <header class="top-header"><div class="center">

    {% block branding %}
      <h1>Selvbetjening</h1>
      <h2>v5.1 BETA</h2>
    {% endblock %}

      <nav class="authentication-nav">
        <ul>
          <li>authenticated as {{user.username}}</li>
          <li><a href="{% url sadmin:logout %}">logout</a></li>
        </ul>
      </nav>

    </div></header>

    <nav class="primary-nav"><div class="center">
        {% get_navigation_pages main_menu current_page as pages %}
        <ul>
        {% for page in pages %}
          <li{% if page.in_path %} class="current"{% endif %}><a href="{{ page.url }}">{{ page.title|lower }}</a></li>
        {% endfor %}
        </ul>
    </div></nav>
    {% endif %}

    <div class="center">

    <header class="page-header">
    {% if current_page %}
      <nav class="breadcrumbs">
      {% get_breadcrumbs current_page as breadcrumbs %}
        <ul>
          {% for page in breadcrumbs %}
          {% if not forloop.last %}
            <li><a href="{{ page.url }}">{{ page.title }}</a> &raquo;</li>
          {% else %}
            <li>{{ page.title }}</li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

    {% if action_menu %}
    {% get_navigation_pages action_menu current_page as pages %}
    <nav class="action-nav">
      <ul>
      {% for page in pages %}
        <li{% if page.in_path %} class="current"{% endif %}><a href="{{ page.url }}">{{ page.title|lower }}</a></li>
      {% endfor %}
      </ul>
    </nav>
    {% endif %}

    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
    </header>

    {% if not is_popup %}

    {% block navigation %}
    {% if menu %}
      {% get_navigation_pages menu current_page as pages %}

      <nav class="secondary-nav">
      <ul>
        {% for page in pages %}
          <li{% if page.current_page %} class="current"{% endif %}><a href="{{page.url}}">{{page.title|lower}}</a></li>
        {% endfor %}
      </ul>
      </nav>

    {% endif %}
    {% endblock %}

    {% endif %}

    <div id="main">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {{ content }}
    {% endblock %}
    </div>

    <footer>

    </footer>
  </div> <!--! end of #container -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="{{MEDIA_URL}}sadmin/js/jquery-1.4.2.min.js"><\/script>')</script>

  <script src="{{MEDIA_URL}}sadmin/js/plugins.js?v=1"></script>
  <script src="{{MEDIA_URL}}sadmin/js/script.js?v=1"></script>

  <!--[if lt IE 7 ]>
    <script src="{{MEDIA_URL}}sadmin/js/dd_belatedpng.js?"></script>
    <script>
      DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images
    </script>
  <![endif]-->


  <!-- yui profiler and profileviewer - remove for production -->
  <script src="{{MEDIA_URL}}sadmin/js/profiling/yahoo-profiling.min.js"></script>
  <script src="{{MEDIA_URL}}sadmin/js/profiling/config.js?v=1"></script>
  <!-- end profiling code -->

  {% block scripts %}{% endblock %}

{% endblock %}