{% extends "sadmin/base/base.html" %}

{% block body %}
    {% if not is_popup %}
    <header class="top-header"><div class="center">

    {% block branding %}
      <h1>Selvbetjening</h1>
      <h2>v5.0</h2>
    {% endblock %}

      <nav class="authentication-nav">
        <ul>
          <li>authenticated as {{user.username}}</li>
          <li><a href="{% url sadmin:logout %}">logout</a></li>
        </ul>
      </nav>

    </div></header>

    <nav class="primary-nav"><div class="center">
        <ul>
        {% for option_group in main_menu %}
          <li>{{option_group.label|lower}}
            <ul>
              {% for option in option_group %}
                <li><a href="{{option.url}}">{{option.label|lower}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        </ul>
    </div></nav>
    {% endif %}

    <div class="center">

    <header class="page-header">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
    </header>

    {% block navigation %}
    {% if menu %}
      <nav class="secondary-nav">
      <ul>
        {% for item in menu %}
          <li><a href="{{item.url}}">{{item.label|lower}}</a></li>
        {% endfor %}
      </ul>
      </nav>
    {% endif %}
    {% endblock %}

    <div id="main">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
    {% endblock %}
    </div>

    </div>

    <footer>

    </footer>
  </div> <!--! end of #container -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="{{MEDIA_URL}}sadmin/js/jquery-1.4.2.min.js"><\/script>')</script>

  <script src="{{MEDIA_URL}}sadmin/js/plugins.js?v=1"></script>
  <script src="{{MEDIA_URL}}sadmin/js/script.js?v=1"></script>

  <!--[if lt IE 7 ]>
    <script src="{{MEDIA_URL}}sadmin/js/dd_belatedpng.js?"></script>
    <script>
      DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images
    </script>
  <![endif]-->


  <!-- yui profiler and profileviewer - remove for production -->
  <script src="{{MEDIA_URL}}sadmin/js/profiling/yahoo-profiling.min.js"></script>
  <script src="{{MEDIA_URL}}sadmin/js/profiling/config.js?v=1"></script>
  <!-- end profiling code -->

  {% block scripts %}{% endblock %}

{% endblock %}