{% extends "sadmin/base/base.html" %}
{% load navtreehelpers %}

{% block body %}
    {% if not is_popup %}
    <header class="top-header"><div class="center">

    {% block branding %}
      <a href="{% url sadmin:dashboard %}"><h1>Selvbetjening</h1></a>
      <h2>v{{ VERSION }}</h2>
    {% endblock %}

      <nav class="authentication-nav">
        <ul>
          <li>authenticated as {{user.username}}</li>
          <li><a href="{% url sadmin:logout %}">logout</a></li>
        </ul>
      </nav>

    </div></header>

    <nav class="primary-nav"><div class="center">
        {% get_navigation_pages sadmin_main_menu current_page as pages %}
        <ul>
        {% for page in pages %}
          <li{% if page.in_path %} class="current"{% endif %}><a href="{{ page.url }}">{{ page.title|lower }}</a></li>
        {% endfor %}
        </ul>
    </div></nav>
    {% endif %}

    {% if not is_popup %}
    {% block navigation %}{% if menu %}
    
      {% get_navigation_pages menu current_page as pages %}

      <div class="center">
      <nav class="secondary-nav">
      <ul>
        {% for page in pages %}
          <li{% if page.current_page %} class="current"{% endif %}><a href="{{page.url}}">{{page.title|lower}}</a></li>
        {% endfor %}
      </ul>
      </nav>
      </div>

    {% endif %}{% endblock %}
    {% endif %}
    
    <div class="center">

    <header class="page-header">

    {% if not is_popup %}
    {% if action_menu or related_objects_menu %}
    <nav class="action-nav">
      <ul>

    {% if related_objects_menu %}
      {% get_navigation_pages related_objects_menu current_page as pages %}

      {% for page in pages %}
        <li class="related{% if page.in_path %} current{% endif %}"><a href="{{ page.url }}">{{ page.title|lower }}</a></li>
      {% endfor %}
    {% endif %}

    {% if action_menu %}
      {% get_navigation_pages action_menu current_page as pages %}

      {% for page in pages %}
        <li{% if page.in_path %} class="current"{% endif %}><a href="{{ page.url }}">{{ page.title|lower }}</a></li>
      {% endfor %}
    {% endif %}
    {% endif %}

      </ul>
    </nav>
    {% endif %}

    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
    
    {% if current_page and not is_popup %}
        <nav class="breadcrumbs">
        {% get_breadcrumbs current_page as breadcrumbs %}
          <ul>
            {% for page in breadcrumbs %}
            {% if not forloop.last %}
              <li><a href="{{ page.url }}">{{ page.title }}</a> &raquo;</li>
            {% else %}
              <li>{{ page.title }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
    {% endif %}

    {% if not is_popup %}
    {% block tabbed_menu %}{% if tabbed_menu %}
    
      {% get_navigation_pages tabbed_menu current_page as pages %}

      <nav class="tabbed-nav">
      <ul>
        {% for page in pages %}
          <li{% if page.current_page %} class="current"{% endif %}><a href="{{page.url}}">{{page.title|lower}}</a></li>
        {% endfor %}
      </ul>
      </nav>

    {% endif %}{% endblock %}
    {% endif %}    
    
    </header>

    <div id="main">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {{ content }}
    {% endblock %}
    </div>

    <footer>

    </footer>
  </div> <!--! end of #container -->

{% endblock %}
