{% extends "admin/change_form.html" %}

{% block after_field_sets %}

<div class="inline-group">
  <div class="tabular inline-related">
    <fieldset class="module">
    <h2>Linjer</h2>

   <table>
     <thead><tr>
     <th>Beskrivelse</th>
     <th>Pris</th>
     </tr></thead>

     {% for line in original.latest_revision.line_set.all %}
     <tr class="{% cycle "row1" "row2" %}">
       <td>{{ line.description }}</td>
       <td>{{ line.price }}</td>
     </tr>
     {% endfor %}

    </table>
</div>

<div class="inline-group">
  <div class="tabular inline-related">
    <fieldset class="module">
    <h2>Revisions</h2>

   <table>
     <thead><tr>
     <th>#</th>
     <th>Dato</th>
     </tr></thead>

     {% for revision in original.revision_set.all reversed %}
     <tr class="{% cycle "row1" "row2" %}">
       <td><a href="/admin/invoice/invoicerevision/{{ revision.id }}/">{{ revision.id }}</a></td>
       <td><a href="/admin/invoice/invoicerevision/{{ revision.id }}/">{{ revision.created_date }}</a></td>
     </tr>
     {% endfor %}
     </table>
</div>

{% endblock %}