{% extends "eventregistration/base.html" %}

{% block breadcrumbs %}
<li><a href="{% url "eventregistration_view_all" %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url "eventregistration_signup" event.id %}">tilmeld</a></li>
{% endblock %}

{% block contenthead %}Du er allerede tilmeldt dette arrangement{% endblock %}

{% block content %}

<p>Du er allerede tilmeldt dette arrangement, følg <a href="{% url "eventregistration_attendees" event.id %}">dette link</a> for at se en liste over deltagere til arrangementet.</p>

{% endblock %}