{% load assets %}<!doctype html>
<html lang="en">
<head>
    <title>Selvbetjening nem check-in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>

    {% assets "scheckin_css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
    {% endassets %}

    {% assets "scheckin_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script id="chrome-layout" type="layout">
        {% include "scheckin/partials/layout.html" %}
    </script>

    <script id="attendees-page-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendees-page.html" %}
    </script>

    <script id="attendees-list-item-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendees-list-item.html" %}
    </script>

    <script id="attendees-list-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendees-list.html" %}
    </script>

    <script id="attendee-page-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-page.html" %}
    </script>

    <script id="attendee-selection-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-selection.html" %}
    </script>

    <script id="attendee-selection-group-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-selection-group.html" %}
    </script>

    <script id="attendee-selection-option-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-selection-option.html" %}
    </script>

    <script id="attendee-state-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-state.html" %}
    </script>

    <script id="attendee-comment-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-comment.html" %}
    </script>

    <script id="attendee-comment-item-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-comment-item.html" %}
    </script>

    <script id="attendee-payments-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-payments.html" %}
    </script>

    <script>
    var event_data = {{ event_json|safe }};
    var attendee_data = {{ attendees_json|safe }};
    </script>
</head>

<body>
</body>

</html>