{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url events_signup event.id %}">tilmeld</a></li>
{% endblock %}

{% block contenthead %}
<h2>Du er allerede tilmeldt dette arrangement</h2>
{% endblock %}

{% block content %}

    <p>Du er allerede tilmeldt dette arrangement, følg <a href="{% url events_view event.id %}">dette link</a> for at se en liste over deltagere til arrangementet.</p>

{% endblock %}