{% extends "sadmin/base/extendedsite.html" %}
{% load adminmedia %}

{% block content_title %}
<h2>{{ attendee.user.first_name }} {{ attendee.user.last_name }} ({{ attendee.user.username}})</h2>
{% endblock %}

{% block content %}

<form method="POST" action="">

<fieldset class="module aligned">

<div class="form-row">
    <div><label>Status:</label><p>{{attendee_form.state}}</p></div>
</div>

<div class="form-row">
    <div><label>Betalt:</label>
    {% if attendee.invoice.in_balance %}
    <p>Betalt</p>
    {% else %}{% if attendee.invoice.is_paid %}
    <p>Betalt for meget</p>
    {% else %}
    <p>Mangler betaling</p>
    {% endif %}{% endif %}
    </div>
</div>

</fieldset>

<div class="block">

<h3 id="billing">Betalinger</h3>

<table>
    <tr>
        <th colspan="2">Kvittering</th>
    </tr>

    {% for line in attendee.invoice.line_set.all %}
    <tr>
        <td>{{line.description}}</td><td>{{line.price}},-</td>
    </tr>
    {% endfor %}

    <tr>
        <td><b>Total</b></td>
        <td><b>{{attendee.invoice.total_price}},-</b></td>
    </tr>

    <tr>
        <td><b>Total betalt</b></td>
        <td><b>{{attendee.invoice.paid}},-</b></td>
    </tr>


    {% if not attendee.invoice.is_paid %}
    <tr>
        <td><b>Mangler betaling</b></td>
        <td><b>{{attendee.invoice.unpaid}},-</b></td>
    </tr>
    {% endif %}

    {% if attendee.invoice.is_overpaid %}
    <tr>
        <td><b>Total til udbetaling</b></td>
        <td><b>{{attendee.invoice.overpaid}},-</b></td>
    </tr>
    {% endif %}

</table>

</div> 
{% endblock %}