{% extends "sadmin/base/extendedsite.html" %}
{% load i18n %}

{% block content_title %}
<h2>{{ attendee.user.first_name }} {{ attendee.user.last_name }} ({{ attendee.user.username}})</h2>
{% endblock %}

{% block content %}

<form method="POST" action="">{% csrf_token %}

<h3>{% trans "Status" %}</h3>

    <fieldset class="module aligned">

    {% ifequal attendee.state "waiting" %}
    <div class="form-row error-row">
    {% else %}{% ifequal attendee.state "accepted" %}
    <div class="form-row warning-row">
    {% else %}
    <div class="form-row success-row">
    {% endifequal %}{% endifequal %}
        <div><label>Status:</label><p>{{attendee.state}}</p></div>
    </div>

    {% if attendee.invoice.in_balance %}
    <div class="form-row success-row">
    {% else %}{% if attendee.invoice.is_paid %}
    <div class="form-row warning-row">
    {% else %}
    <div class="form-row error-row">
    {% endif %}{% endif %}
        <div><label>Betalt:</label>
        {% if attendee.invoice.in_balance %}
        <p>Betalt</p>
        {% else %}{% if attendee.invoice.is_paid %}
        <p>Betalt for meget ({{attendee.invoice.overpaid}},-)</p>
        {% else %}
        <p>Mangler betaling ({{attendee.invoice.unpaid}},-)</p>
        {% endif %}{% endif %}
        </div>
    </div>

    {{ checkin_rendered|safe }}

    </fieldset>

    {% ifequal attendee.state "waiting" %}

    <div class="submit-row" >
        <input style="float: left; font-size: 100%;" type="submit" value="{% trans "Move to accepted list" %}" class="default" name="do_accept" />
    </div>

    {% else %}{% ifequal attendee.state "accepted" %}

    <div class="submit-row" >
        {% if not attendee.invoice.is_paid %}
        <input style="float: left; font-size: 100%;" type="submit" value="{% trans "Betal og Checkin" %}" class="default" name="do_checkin_and_pay" />
        {% endif %}
        <input style="float: left; font-size: 100%;" type="submit" value="{% trans "Checkin uden betaling" %}" class="default" name="do_checkin" />
        <input style="float: left; font-size: 100%;" type="submit" value="{% trans "Move to waitinglist" %}" name="do_unaccept" />
    </div>

    {% else %}

    <div class="submit-row" >
        {% if not attendee.invoice.is_paid %}
        <input style="float: left; font-size: 100%;" type="submit" value="{% trans "Pay" %}" class="default" name="do_pay" />
        {% endif %}
        <input style="float: left; font-size: 100%;" type="submit" value="{% trans "Checkout" %}" name="do_checkout" />
    </div>

    {% endifequal %}{% endifequal %}

    <br/><br/>

{% include "sadmin/events/attendee/parts/invoice.html" with invoice=attendee.invoice %}

</form>
<form method="POST" action="">{% csrf_token %}

{% for fieldset in form %}
      {% include "admin/includes/fieldset.html" %}
{% endfor %}

<div class="submit-row" >
    <input type="submit" value="{% trans "Register payment" %}" class="default" name="do_single_payment" />
</div>
</form>

{% endblock %}