{% extends "sadmin/base/extendedsite.html" %}
{% load i18n %}

{% block content_title %}
    {% if not original.state == "attended" or not original.invoice.in_balance %}
        <h2>{{ original.user.first_name }} {{ original.user.last_name }} ({{ original.user.username }})</h2>
    {% endif %}
{% endblock %}

{% block content %}

{% if original.state == "attended" and original.invoice.in_balance %}

<div class="modal-message">
    <h2>{{ original.user.first_name }} {{ original.user.last_name }} ({{ original.user.username }})</h2>
    <p>Bruger registreret og betalt!</p>
</div>

  <script>
  $(document).ready(function() {
    parent.do_search("");
    window.setInterval(function() {parent.$.fancybox.close();}, 3000);

  });
  </script>

{% else %}

<form method="post" action="">{% csrf_token %}

<h3>Tilvalg</h3>

{% if original.invoice.in_balance %}
    <table class="success">
{% else %}{% if original.invoice.is_paid %}
    <table class="warning">
{% else %}
    <table class="error">
{% endif %}{% endif %}

    {% for line in original.invoice.line_set.all %}
    <tr>
        <td>{{line.description}}</td><td>{{line.price}},-</td>
    </tr>
    {% endfor %}

    <tr>
    <td colspan="2"></td>
    </tr>

    <tr>
        <th>Total:</th><th>{{original.invoice.total_price}},-</th>
    </tr>
    <tr>
        <th>Heraf betalt:</th><th>{{original.invoice.paid}},-</th>
    </tr>

</table>

<div class="action">

<h3>Betaling</h3>

{% if original.invoice.in_balance %}
    <ul class="messages-narrow"><li class="success">Denne invoice er betalt</li></ul>
{% endif %}

{% if not original.invoice.is_paid %}
    <ul class="messages-narrow"><li class="error">Der skal indbetales: <b>{{original.invoice.unpaid}},-</b></li></ul>
{% endif %}

{% if original.invoice.is_overpaid %}
    <ul class="messages-narrow"><li class="warning">Der er betalt for meget, udbetal derfor: {{original.invoice.overpaid}},-</li></ul>
{% endif %}

{% if not original.invoice.is_paid %}
  <input class="default" type="submit" value="Registrer betaling på {{original.invoice.unpaid}},-" name="do_payment" />
{% endif %}
</div>

<div class="action">

<h3>Check-in</h3>

{% if original.state == "attended" %}
    <ul class="messages-narrow"><li class="success">Deltager er registreret.</li></ul>
{% endif %}

{% if original.state == "accepted" %}
    <ul class="messages-narrow"><li class="warning">Venter på registrering.</li></ul>
{% endif %}

{% if original.state == "waiting" %}
    <ul class="messages-narrow"><li class="error">Venter på <b>godkendelse</b> og registrering.</li></ul>
{% endif %}

{% if not original.state == "attended" %}
  <input class="default" type="submit" value="Registrer deltagelse" name="do_checkin" />
{% endif %}
</div>

</form>

{% endif %}

{% endblock %}