{% extends "sadmin/base/extendedsite.html" %}
{% load i18n crispy_forms_tags %}

{% block content_title %}
<h2>{% trans "Selections" %}</h2>
{% endblock %}

{% block content %}

<form method="POST" action="" class="uniForm">{% csrf_token %}

{% for option_form in option_forms %}
    {% with option_form.helper as helper %}
         {% crispy option_form helper %}
    {% endwith %}
{% endfor %}

{{ checkin_parts|safe }}

<div class="buttonHolder">
    <input type="submit" name="submit_option" value="Gem tilvalg" class="submit submitButton" id="submit-id-submit_option" />
</div>

</form>

{% endblock %}