@font-face {
	font-family: 'DejaVuSansCondensed';
	src: url('../fonts/dejavu/dejavusanscondensed-webfont.eot');
	src: local('☺'), url('../fonts/dejavu/dejavusanscondensed-webfont.woff') format('woff'), url('../fonts/dejavu/dejavusanscondensed-webfont.ttf') format('truetype'), url('../fonts/dejavu/dejavusanscondensed-webfont.svg#webfontQISGL9E5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVuSansCondensedBold';
	src: url('../fonts/dejavu/dejavusanscondensed-bold-webfont.eot');
	src: local('☺'), url('../fonts/dejavu/dejavusanscondensed-bold-webfont.woff') format('woff'), url('../fonts/dejavu/dejavusanscondensed-bold-webfont.ttf') format('truetype'), url('../fonts/dejavu/dejavusanscondensed-bold-webfont.svg#webfontJRCHdmKm') format('svg');
	font-weight: normal;
	font-style: normal;
}

 /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
	font-family: 'DeliciousSmallCapsRegular';
	src: url('../fonts/delicious/delicious-smallcaps-webfont.eot');
	src: local('☺'), url('../fonts/delicious/delicious-smallcaps-webfont.woff') format('woff'), url('../fonts/delicious/delicious-smallcaps-webfont.ttf') format('truetype'), url('../fonts/delicious/delicious-smallcaps-webfont.svg#webfontrJBYWQGq') format('svg');
	font-weight: normal;
	font-style: normal;
}

body { font-family: "DejaVuSansCondensed",sans-serif; padding: 0 0 0 0; background-color: #eeeeec; color: #000000;}
a { text-decoration: none; font-style: italic; }
p { font-size: 1.2em; margin-bottom: 1em; }
h1 { font-size: 2.6em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; font-style: italic; }
h1, h2, h3, h4, h5 { font-family: "DejaVuSansCondensed"; }

/** Center **/
div.center { width: 1024px; margin: 0 auto; }

/** Header **/
header.top-header { background-color: black; color: #ffffff; overflow: auto;
                    padding: 6px 0 0 0; }
header.top-header h1 { background: url("../images/slogo.png") no-repeat; background-size: 30px;
                       height: 30px; text-indent: 35px; font-size: 1.4em; padding-top: 6px; float: left;
					   font-family: "DejaVuSansCondensedBold"; }
header.top-header h2 { float: left; font-size: 1em; }
header.top-header nav { float: right; margin: 0px; }

/** Login header **/
header.login-header {
  background-color: black; color: #ffffff; overflow: auto; padding: 12px 0 0 1em; margin: 2em 0 1em 0;
  -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px;
  -moz-border-radius-topright: 5px; -webkit-border-top-right-radius:5px;
  -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius:5px;
}
header.login-header h1 { background: url("../images/slogo.png") no-repeat; background-size: 60px;
                       height: 60px; text-indent: 65px; font-size: 2.4em; padding-top: 12px; float: left;
					   font-family: "DejaVuSansCondensedBold"; }
header.login-header h2 { float: left; font-size: 1.2em; padding-top: 6px; }

/** Login box **/
div.login-box { width: 700px; margin: 0 auto; overflow: auto; }

/** Page header **/
header.page-header h1 { margin: 1em 0 0.2em 0; }
header.page-header h2, h3 { margin: 0 0 0.2em 0; }

/** Navigation **/
nav { overflow: auto; font-family: "DeliciousSmallCapsRegular"; }

/* Authentication nav */
nav.authentication-nav ul li { float: left; padding: 0.5em 1.5em 0.5em; font-size: 1.2em; }
nav.authentication-nav ul li a { color: #ffffff; text-decoration: none; font-weight: bold;
                                 font-style: normal; }

nav.authentication-nav ul li:hover { background-color: #a40000; }
nav.authentication-nav ul li a:hover, nav ul li a:active, nav ul li a:visited { color: #ffffff; }

/* Primary and Secondary nav */
nav.primary-nav { margin-bottom: 1em; background-color: #a40000; }
nav.secondary-nav { margin-bottom: 1em; background-color: #000000; }

nav.primary-nav ul li, nav.secondary-nav ul li { float: left; padding: 0.5em 1.5em 0.5em;
                                                 color: #ffffff; text-decoration: none;
												 font-weight: bold; font-style: normal; }


nav.primary-nav ul li { font-size: 1.4em; }
nav.secondary-nav ul li { font-size: 1.2em; }

/** Submenus **/
nav.primary-nav li ul { display: none; font-size: 0.6em; position: absolute; margin: 8px 0 0 -2em;
                        padding: 0; background-color: #000000; }
nav.primary-nav li ul li { float: none; }

nav.primary-nav li:hover ul, nav.primary-nav li ul:hover { display: block; }

/** General **/
#main { width: 100%; background-color: #eeeeec; }
.block { background-color: #729fcf; padding: 1em; overflow: auto; margin-bottom: 1em; }

/** Tables **/
table tr td, table tr th { padding: 0.5em; text-align: left; }
table tr th { font-size: 1.2em; color: #555753; font-style: italic; }
table tr td { font-size: 1.5em; }

/* Forms */
.uniForm { width: 650px; padding: 1em;}

form input[type="text"], .uniForm .textInput, .uniForm textarea {
  font-size: 24px;
  font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
  padding: 6px 5px 6px 10px;
  text-shadow: 1px 1px 1px #fff;
  max-width: 600px;
  outline: none;

  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.4);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.24);
}

.uniForm textarea {
   font-size: 1.4em;
}

.uniForm .buttonHolder { margin: 1em 0 2em 0; padding:1em;	text-align:right; background-color: #729fcf; }
.uniForm .buttonHolder input { font-size: 24px; }

.uniForm div.checkbox label { display: inline; }
.uniForm input.checkboxinput { margin-bottom: 3px; margin-right: 0.5em; }

.uniForm select { padding:5px 3px; }

.uniForm legend { font-size: 2em; padding: 1em 0 0.5em 0; }
.uniForm label { display: block; font-weight: bold; font-size: 1.2em; margin: 0 0 0.5em 0; }
.uniForm .multiField label { display: inline; }

.uniForm .formRow .ctrlHolder { float: left; }

/** Search field **/
#searchbox {
  float: left;
  margin: 3px 0px;
  border: 1px solid #fff;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa));
  background: -moz-linear-gradient(top, #f2f2f2, #fafafa);

  -moz-box-shadow: 1px 1px 3px #555;
  -webkit-box-shadow: 1px 1px 3px #555;
  -box-shadow: 1px 1px 3px #555;
}

#searchsubmit {
  background: #f2f2f2 url(../images/search.png) no-repeat center center;
  height: 43px;
  width: 50px;
  float: left;
  border: none;
  margin: 3px 0px;
  border: 1px solid #fff;
  -moz-box-shadow :1px 1px 3px #555;
  -webkit-box-shadow :1px 1px 3px #555;
  -box-shadow: 1px 1px 3px #555;
  outline: none;
  cursor: pointer;
}

#searchsubmit:hover { background-color:#ffffff; }

/** Messages **/
ul.messages { margin: 0 3em 0.5em 3em; list-style: none; }
ul li.success, ul li.warning {
  padding: 1em;
  font-size: 1.2em;

  background-color: #c5fa92;

  -moz-box-shadow :1px 1px 3px #555;
  -webkit-box-shadow :1px 1px 3px #555;
  -box-shadow: 1px 1px 3px #555;

  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;

  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius:5px;

  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius:5px;

    -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius:5px;

  background: -webkit-gradient(linear, left top, left bottom, from(#c5fa92), to(#ACE07A));
  background: -moz-linear-gradient(top, #c5fa92, #ACE07A);
}
ul li.warning {
  background-color: #fce94f;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce94f), to(#edd400));
  background: -moz-linear-gradient(top, #fce94f, #edd400);
}