{% extends "selvbetjening/sitebase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block contenthead %}Nyt kodeord{% endblock %}

{% block content %}

{% if validlink %}

<p>Du kan vælge et nyt kodeord til din bruger her.</p>

<form method="POST" action="" class="form-horizontal">{% csrf_token %}

    {% crispy form %}

</form>

{% else %}

<p>Linket du har brugt er ugyldigt. Dette kan muligvis skyldes at det allerede er blevet brugt. Prøv eventuelt at nulstille dit kodeord igen.</p>

{% endif %}

{% endblock %}