<table class="table">

    {% for option, selection in invoice %}
        {% if selection %}

            {% ifchanged option.group.name %}
                {% if option.group.name %}
                    <tr>
                        <th colspan="2">{{ option.group.name }}</th>
                    </tr>
                {% endif %}
            {% endifchanged %}

            <tr>
                <td>
                    {{selection.option.name}}{% if selection.suboption %} ({{ selection.suboption.name }}){% endif %}
                </td>
                <td>
                    {% ifnotequal selection.price 0 %}{{selection.price|floatformat:"-2"}},-{% endifnotequal %}
                </td>
            </tr>

        {% endif %}
    {% endfor %}

    <tr>
        <td colspan="2"></td>
    </tr>

    <tr>
        <th>Total:</th><th>{{attendee.price|floatformat:"-2"}},-</th>
    </tr>
    <tr>
        <th>Heraf betalt:</th><th>{{attendee.paid|floatformat:"-2"}},-</th>
    </tr>

    {% if attendee.in_balance %}
        <tr class="success">
            <th colspan="2">Denne invoice er betalt</th>
        </tr>
    {% endif %}

    {% if not attendee.is_paid %}
        <tr class="danger">
            <th>Total til betaling:</th><th>{{attendee.unpaid|floatformat:"-2"}},-</th>
        </tr>
    {% endif %}

    {% if attendee.is_overpaid %}
        <tr class="danger">
            <th>Total til udbetaling:</th><th>{{attendee.overpaid|floatformat:"-2"}},-</th>
        </tr>
    {% endif %}

</table>