PIL

Django==1.4.3

South==0.7.6
django-debug-toolbar==0.9.4
sorl-thumbnail==3.2.5
django-crispy-forms==1.2.3

django-extensions==1.0.1
phpserialize==1.2
simplejson
django-tastypie==0.9.11

webassets==0.8
django-assets==0.8

-e git://github.com/jtauber/django-mailer.git@cea79940d477246ebace#egg=django-mailer
-e git://github.com/sema/navtree.git#egg=navtree
-e git://github.com/PaulUithol/backbone-tastypie.git#egg=tastypie
