{% extends "extra.htm" %}

{% block breadcrumbs %}
<li><a href="{% url auth_login event.id %}">login</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url auth_password_reset %}">glemt kodeord</a></li>
{% endblock %}

{% block contenthead %}
<h2>Glemt kodeord</h2>
{% endblock %}

{% block content %}
<p>Giv os din email, og vi vil sende dig et nyt kodeord.</p>
<form method="POST">
<label for="id_email">Email:</label>{{form.email}}
<input type="submit" name="reset_password" value="Send nyt kodeord" />
</form>
{% endblock %}