{% extends "site.html" %}

{% load uniform %}

{% block extraheader %}
    {% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><span>afmeld dig fra {{event.title}}</span></li>
{% endblock %}

{% block contenthead %}
Afmeld arrangement
{% endblock %}

{% block content %}

<p>Ved at afmelde dig arrangementet vil du blive fjernet fra vores deltagerliste, du vil til have mulighed
for at tilmelde dig arrangementet igen hvis du ombestemmer dig.</p>

{{form|uniform:"afmeld"}}

{% endblock %}