{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Auth</a> &rsaquo;
     <a href="../../">User</a> &rsaquo;
     Opret ny bruger
</div>
{% endif %}{% endblock %}

{% block content_title %}
<h1>Opret ny bruger</h1>
{% endblock %}

{% block content %}

<form method="POST" action="">

{% for fieldset in adminform %}
      {% include "admin/includes/fieldset.html" %}
{% endfor %}

    <div class="submit-row" >
    <input style="float: left; font-size: 200%;" type="submit" value="Opret bruger" class="default" name="do_create_and_signup" >
    </div>

</form>
{% endblock %}