{% extends "site.html" %}
{% load crispy_forms_tags i18n %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url "members_login" %}">login</a>&nbsp;&gt;&nbsp;</li>
<li><span>glemt kodeord</span></li>
{% endblock %}

{% block contenthead %}{% trans "Forgot your username and password?" %}{% endblock %}

{% block content %}
<p>{% trans "Enter your e-mail below and we will send you your username and a link to reset your password." %}</p>

<form method="POST" action="" class="form-horizontal">
    {% crispy form %}
</form>

{% endblock %}