{% extends "site.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirmation' %}</div>{% endblock %}

{% block contenthead %}Nulstil kodeord{% endblock %}

{% block content %}

{% if validlink %}

<p>Indtast venligst dit nye kodeord</p>

<form method="POST" action="" class="uniForm">{% csrf_token %}

{{ form|crispy }}

<div class="buttonHolder">
  <input type="submit" name="reset-password" value="Sæt nyt kodeord" class="submit submitButton" id="submit-id-reset-password" />
</div>

</form>

{% else %}

<p>Linket du har brugt er ugyldigt. Dette kan muligvis skyldes at det allerede er blevet brugt. Prøv eventuelt at nulstille dit kodeord igen.</p>

{% endif %}

{% endblock %}