{% extends "site.html" %}
{% load uni_form_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url members_login %}">login</a>&nbsp;&gt;&nbsp;</li>
<li><span>glemt kodeord</span></li>
{% endblock %}

{% block contenthead %}Glemt kodeord{% endblock %}

{% block content %}
<p>Giv os din email, og vi vil sende dig et nyt kodeord.</p>

<form method="post" action="" class="uniForm">
{% csrf_token %}

<fieldset class="inlineLabels">
<legend>Send nyt kodeord</legend>

<div class="ctrlHolder">
  <label for="id_email">email</label>
  <input id="id_email" name="email" maxlength="50" type="text" class="textInput text" />
</div>
</fieldset>

<fieldset class="inlineLabels"><div class="buttonHolder"><button type="submit" class="submitButton">Send nyt kodeord</button></div></fieldset>
</form>

{% endblock %}