{% extends "site.html" %}
{% load uni_form_tags i18n %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url members_login %}">login</a>&nbsp;&gt;&nbsp;</li>
<li><span>glemt kodeord</span></li>
{% endblock %}

{% block contenthead %}{% trans "Forgot your password" %}{% endblock %}

{% block content %}
<p>{% trans "Enter your e-mail below and we will send you a new password." %}</p>

<form method="post" action="" class="uniForm">
{% csrf_token %}

<fieldset class="inlineLabels">
<legend>{% trans "Send new password" %}</legend>

<div class="ctrlHolder">
  <label for="id_email">E-mail</label>
  <input id="id_email" name="email" maxlength="50" type="text" class="textinput textInput" />
</div>
</fieldset>

<div class="buttonHolder">
  <input type="submit" class="submit submitButton" value="{% trans "Send new password" %}" />
</div>

</form>

{% endblock %}