{% extends "sadmin2/site.html" %}
{% load crispy_forms_tags %}

{% block head %}
{{ block.super }}



{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">Select context</div>
  <div class="panel-body">
      {% crispy form %}
  </div>
</div>

{% if email %}
<div class="well well-lg">

    <h1>{{ subject }}</h1>

    {{ email.body_html|safe }}

</div>

<h2>Text-only version</h2>

<pre>
{{ email.subject }}

{{ email.body_plain }}
</pre>

{% else %}
    <div class="alert alert-danger">
    <h1>Error rendering e-mail</h1>
    <p>The following error occured when rendering the e-mail:</p>
    <pre>{{ email_err.1 }}</pre>
    </div>
{% endif %}

{% endblock %}