{% load webdesign %}

{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a></li>
{% endblock %}

{% block contenthead %}
<h2>Arrangementer</h2>
{% endblock %}

{% block content %}

{% block description %}
<p>Her vil du kunne finde en liste over samtlige events arrangeret af Anime Kita. Har du en bruger på vores hjemmeside, har du mulighed for at tilmelde dig fremtidige events og arrangementer.</p>
{% endblock %}
  
{% block list %}
{% if events %}

    <table class="horizontal">
    <tr>
        <th>Navn</th>
        <th>Dato</th>
        <th>År</th>
        <th style="width:30%">&nbsp;</th>
    </tr>
    
    {% for event in events %}
        <tr>
            <td><a href="{% url events_view event.id %}">{{event.title}}</a></td>
            <td>{{event.startdate.day}}/{{event.startdate.month}} - {{event.enddate.day}}/{{event.enddate.month}}</td>
            <td>{{event.startdate.year}}</td>
            <td>{% if event.is_registration_open %}Åben for tilmelding{% endif %}
		{% if perms.events.change_attend %}
			<li><a href="{% url eventmode_checkin event.id %}">Checkin</a></li>
		{% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    
{% else %}

    <p>Ingen registrerede arrangementer.</p>

{% endif %}
{% endblock %}

{% endblock %}