{% load webdesign %}

{% extends "extra.htm" %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a></li>
{% endblock %}

{% block contenthead %}
<h2>Arrangementer</h2>
{% endblock %}

{% block content %}

{% block description %}
<p>{% lorem 20 w %}</p>
{% endblock %}
  
{% block list %}
{% if events %}

    <table class="horizontal">
    <tr>
        <th>Navn</th>
        <th>Dato</th>
        <th>År</th>
        <th>&nbsp;</th>
    </tr>
    
    {% for event in events %}
        <tr>
            <td><a href="{% url events_view event.id %}">{{event.title}}</a></td>
            <td>{{event.startdate.day}}/{{event.startdate.month}} - {{event.enddate.day}}/{{event.enddate.month}}</td>
            <td>{{event.startdate.year}}</td>
            <td>{% if event.registration_open %}Åben for tilmelding{% endif %}</td>
        </tr>
    {% endfor %}
    </table>
    
{% else %}

    <p>Ingen registrerede events</p>

{% endif %}
{% endblock %}

{% endblock %}