{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url events_signup event.id %}">ukendt arrangement</a></li>
{% endblock %}

{% block contenthead %}
<h2>Ukendt arrangement</h2>
{% endblock %}

{% block content %}

    <p>Det arrangement du forsøger at se kunne ikke findes, vi beklager ulejligheden. Du kan eventuelt prøve at finde det arrangemenet du leder efter i vores <a href="{%url events_view_all %}">liste over arrangementer</a>.</p>

{% endblock %}