{% extends "site.html" %}

{% load uniform %}

{% block extraheader %}
    {% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url events_signup event.id %}">tilmeld dig {{event.title}}</a></li>
{% endblock %}

{% block contenthead %}
<h2>Tilmeld arrangement</h2>
{% endblock %}

{% block content %}

<p>For at deltage til vores arrangementer skal du være medlem af Anime Kita samt acceptere de <a href="{% url goto_eventrules %}">ordensregler</a> der er forbundet med arrangementet.</p>

<p>Når du tilmelder dig dette arrangement vil dit navn og brugernavn blive vist <b>offentligt</b> i en liste over deltagere.</p>

{% if is_underaged %}
<h3>Krav om følgeskab</h3>
<p>I henhold til foreningens <a href="{% url goto_regulations %}">vedtægter, &sect;3 stk. 2</a>, skal alle personer under 15 år være i følgeskab med et myndigt medlem til arrangementer. Hvis du er under 15 år kan du sagtens tilmelde dig dette arrangement men når du kommer til arrangementet skal denne person være med dig. Det vil være bedst hvis denne person også husker at tilmelde sig arrangementet.</p>
{% endif %}

{% ifnotequal membership_state 'ACTIVE' %}
{% ifnotequal membership_state 'CONDITIONAL_ACTIVE' %}
<h3>Medlemskab</h3>
<p>Bemærk at du skal være betalende medlem af Anime Kita for at deltage i dette arrangement. Der er muliged for at betale kontingent ved arrangementet.</p>
{% endifnotequal %}
{% endifnotequal %}

{% ifequal membership_state 'CONDITIONAL_ACTIVE' %}
<h3>Medlemskab</h3>
<p>Bemærk at du skal betale anden del af dit kontingent til dette arrangement. Der er muliged for at betale dette ved arrangementet.</p>
{% endifequal %}


{{form|uniform:"tilmeld"}}

{% endblock %}