{% load uniform %}

{% extends "extra.htm" %}

{% block extraheader %}
    {% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url members_profile %}">profil</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url auth_password_change %}">skift kodeord</a></li>
{% endblock %}

{% block contenthead %}	
<h2>Skift kodeord</h2>
{% endblock %}

{% block content %}

<p><a href="{% url members_profile %}">Tilbage til din profil</a>

{% if form.has_errors %}
<p>Fejl i indtastning</p>
{% endif %}

{{ form|uniform:"Skift kodeord" }}

{% endblock %}