<!doctype html>
<html lang="en">
<head>
    <title>Selvbetjening nem check-in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>

    <link href="{{ STATIC_URL }}contrib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}contrib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="{{ STATIC_URL }}css/branding.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}scheckin/css/scheckin.css" rel="stylesheet" type="text/css" />

    <script src="{{ STATIC_URL }}contrib/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}contrib/jquery/jquery.blockUI.js"></script>
    <script src="{{ STATIC_URL }}contrib/underscore/underscore.min.js"></script>

    <script src="{{ STATIC_URL }}contrib/handlebars/handlebars.js"></script>
    <script src="{{ STATIC_URL }}contrib/backbonejs/backbone.min.js"></script>
    <script src="{{ STATIC_URL }}contrib/backbone-tastypie/backbone-tastypie.js"></script>
    <script src="{{ STATIC_URL }}contrib/backbone-layoutmanager/backbone-layoutmanager.min.js"></script>
    <script src="{{ STATIC_URL }}contrib/backbone-mutators/backbone.mutators.min.js"></script>
    <script src="{{ STATIC_URL }}contrib/backbone-statemachine/backbone-statemachine.js"></script>

    <script src="{{ STATIC_URL }}scheckin/js/models.js"></script>
    <script src="{{ STATIC_URL }}scheckin/js/views.js"></script>
    <script src="{{ STATIC_URL }}scheckin/js/init.js"></script>

    <script id="chrome-layout" type="layout">
        {% include "scheckin/partials/layout.html" %}
    </script>

    <script id="attendees-page-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendees-page.html" %}
    </script>

    <script id="attendee-list-item-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-list-item.html" %}
    </script>

    <script id="attendee-list-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-list.html" %}
    </script>

    <script id="attendee-page-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-page.html" %}
    </script>

    <script id="attendee-selection-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-selection.html" %}
    </script>

    <script id="attendee-selection-group-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-selection-group.html" %}
    </script>

    <script id="attendee-selection-option-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-selection-option.html" %}
    </script>

    <script id="attendee-state-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-state.html" %}
    </script>

    <script id="attendee-comment-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-comment.html" %}
    </script>

    <script id="attendee-comment-item-template" type="text/x-handlebars-template">
        {% include "scheckin/partials/attendee-comment-item.html" %}
    </script>

    <script>
        var event = new Event(
        {{ event_json|safe }}
        );

        var attendees = new Attendees(
        {{ attendees_json|safe }}
        );
    </script>
</head>

<body>
</body>

</html>