{% extends "sadmin/base/base.html" %}
{% load navtreehelpers %}

{% block body %}

    <header class="top-header"><div class="center">

    {% block branding %}
      <a href="{% url sadmin:dashboard %}"><h1>Selvbetjening CHECK-IN</h1></a>
      <h2>v{{ VERSION }}</h2>
    {% endblock %}

      <nav class="authentication-nav">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </nav>

    </div></header>

    <nav class="primary-nav"><div class="center">
        &nbsp;
    </div></nav>

    <div class="center">
    
        <div id="main">
        
        <div id="toolbar">
        <form id="changelist-search" action="" method="get">
            <div id="searchbox-container">
            <input type="text" id="searchbox" name="q" autofocus="autofocus" autocomplete="off" placeholder="" required="required" value="" /> <input type="submit" value="" id="searchsubmit" />
            </div>
        </form></div>        
        
        </div>
    
        <footer>
    
        </footer>
    </div> <!--! end of center -->

{% endblock %}
