
    <ul class="nav nav-tabs">
    {% for item in sadmin2_menu_event.items %}
        {% ifnotequal item.dropdown None %}

            <li class="{% ifequal sadmin2_menu_event_active item.id %}active {% endifequal %}dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% if item.icon %}<i class="icon-fixed-width icon-{{ item.icon }}"></i>{% endif %}{{ item.name }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% for item in item.dropdown %}
                        {% include "sadmin2/events/partials/navigation-item.html" %}
                    {% endfor %}
                </ul>
            </li>

        {% else %}

            {% include "sadmin2/events/partials/navigation-item.html" %}

        {% endifnotequal %}
    {% endfor %}
    </ul>
