<rss version="2.0" xmlns:admin="http://webns.net/mvcb/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/">
<channel>

    <title>Selvbetjening log (id: {{savedlog.pk}})</title>
    <link>{{SITE_URL}}</link>

{% for entry in cl.result_list %}

    <item>
    <title>{{entry.message}}</title>
    <description><![CDATA[<h1>{{entry.module}} &gt; {{entry.category}}</h1><p>{{entry.message}}</p>]]></description>
    <pubDate>{{entry.timestamp}}</pubDate>
</item>

{% endfor %}
</channel>