{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url booking_view_cinema cinema.name %}">biograf</a></li>
{% endblock %}

{% block contenthead %}
        <h2>Biograf reservation</h2>
{% endblock %}
    
{% block content %}

<p>Her kan du se en liste over de reserverede tider, samt hvad der vises i biografen. Har du en film eller anime du gerne vil reservere biografen for at se kan dette gøres <a href="{% url booking_create_booking cinema.name %}">her</a>.<p>

<table>
{% for reservation in reservations %}
        {% ifchanged reservation.starttime.date %}
        
        <tr>
                <td colspan="3" style="font-weight: bold;">{{reservation.starttime.date|date:"l"}}</td>
        </tr>
        {% endifchanged %}
        
        <tr>
                <td><h3>{{ reservation.movie_title }}</h3></span><i>{{reservation.description}}</i></td>
                <td>{{ reservation.starttime|date:"H:i" }} - {{ reservation.endtime|date:"H:i" }}</td>
        </tr>
        
{% endfor %}
</table>

{% endblock %}