{% extends "events/base_event.html" %}

{% block contenthead %}Tilmeldte{% endblock %}

{% block content %}

{% ifequal event.move_to_accepted_policy "on_payment" %}
    {% if event.accepted_attendees %}

        <table class="horizontal">
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Brugernavn</th>
                <th>&nbsp;</th>
            </tr>

        {% for attendee in event.accepted_attendees %}
            <tr
            {% ifequal attendee.user.id user.id %}
                class="item_high"
            {% else %}
                {% if event.has_been_held and not attendee.has_attended %}
                    class="item_low"
                {% endif %}
            {% endifequal %}
            >
                <td>{{forloop.counter}}</td>
                <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
                <td>{{attendee.user.username}}</td>
                <td>
                {% if event.has_been_held and not attendee.has_attended %}
                    deltog ikke
                {% endif %}
                </td>
            </tr>
        {% endfor %}

        </table>

    {% else %}
        <p>Ingen tilmeldte.</p>
    {% endif %}

    <h2>Venter på betaling</h2>

    {% if event.waiting_attendees %}

    <table class="horizontal">
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Brugernavn</th>
                <th>&nbsp;</th>
            </tr>

        {% for attendee in event.waiting_attendees %}
            <tr
            {% ifequal attendee.user.id user.id %}
                class="item_high"
            {% else %}
                {% if event.has_been_held and not attendee.has_attended %}
                    class="item_low"
                {% endif %}
            {% endifequal %}
            >
                <td>{{forloop.counter}}</td>
                <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
                <td>{{attendee.user.username}}</td>
                <td>
                {% if event.has_been_held and not attendee.has_attended %}
                    deltog ikke
                {% endif %}
                </td>
            </tr>
        {% endfor %}

        </table>

    {% else %}
        <p>Venter ikke på nogen betalinger.</p>
    {% endif %}

{% else %}

{% if attendees %}

    <table class="horizontal">
        <tr>
            <th>#</th>
            <th>Navn</th>
            <th>Brugernavn</th>
            <th>&nbsp;</th>
        </tr>

    {% for attendee in attendees %}
        <tr
        {% ifequal attendee.user.id user.id %}
            class="item_high"
        {% else %}
            {% if event.has_been_held and not attendee.has_attended %}
                class="item_low"
            {% endif %}
        {% endifequal %}
        >
            <td>{{forloop.counter}}</td>
            <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
            <td>{{attendee.user.username}}</td>
            <td>
            {% if event.has_been_held and not attendee.has_attended %}
                deltog ikke
            {% endif %}
            </td>
        </tr>
    {% endfor %}

    </table>



{% else %}
    <p>Ingen tilmeldte.</p>
{% endif %}

{% endifequal %}

{% endblock %}