{% extends "events/base_event.html" %}
{% load crispy_forms_tags i18n %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Ændre tilvalg' 'eventregistration_change_options' event.pk %}
{% endblock %}

{% block contenthead %}Ændre tilvalg{% endblock %}

{% block content %}

<form method="POST" class="form-horizontal" action="">{% csrf_token %}

{% include "eventregistration/parts/options.html" %}

{{ signup_render|safe }}

<div class="form-actions">
	<input type="submit" class="btn btn-primary" name="Ændre" value="Ændre tilmelding" />
</div>

</form>

{% endblock %}