{% extends "events/base_event.html" %}
{% load uni_form_tags i18n %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Ændre tilvalg' 'eventregistration_change_options' event.pk %}
{% endblock %}

{% block contenthead %}Ændre tilvalg{% endblock %}

{% block content %}

<form method="POST" class="uniForm" action="">{% csrf_token %}

{% include "eventregistration/parts/options.html" %}

{{ signup_render|safe }}

<div class="buttonHolder">
	<input type="submit" name="Ændre" value="{% trans "Change" %}" />
</div>

</form>

{% endblock %}