{% extends "events/base_event.html" %}

{% block contenthead %}{{event.title|escape}}{% endblock %}

{% block content %}
<h2>Dato: {{event.startdate|date:"j/n"}} - {{event.enddate|date:"j/n"}} {{event.enddate|date:"Y"}}</h2>

{% if event.is_registration_open %}

    {% if is_attendee %}
        <p class="alert alert-info">Du er tilmeldt dette arrangement.
        {% if event.has_options %}
        Du kan stadig <a href="{% url eventregistration_change_options event.pk %}">ændre din tilmelding</a> og <a href="{% url eventregistration_status event.pk %}">se status for din tilmelding</a>.
        {% else %}
        Du kan stadig <a href="{% url eventregistration_status event.pk %}">se status for din tilmelding</a>.
        {% endif %}
        </p>

    {% else %}
        {% if event.is_registration_allowed %}
            <p class="alert alert-info"><a href="{% url eventregistration_signup event.id %}">Tilmeld dig dette arrangement nu.</a></p>
        {% else %}
            <p class="alert alert-info">Det maksimale antal deltagere er opnået, tilmeldingen er derfor lukket.</p>
        {% endif %}
    {% endif %}

{% else %}
    <p class="alert alert-info">Tilmeldingen er ikke åbnet på nuværende tidspunkt.</p>

{% endif %}

<table>
    <tr>
        <th colspan="2">Tilmeldte</th>
    </tr>
    <tr>
        <td>Venter på godkendelse</td>
        <td>{{event.waiting_attendees.count}}</td>
    </tr>
    <tr>
        <td>Godkendte tilmeldinger</td>
        <td>{{event.accepted_attendees.count}}{% if event.maximum_attendees %} (ud af {{event.maximum_attendees}} pladser){% endif %}</td>
    </tr>

    {% for optiongroup in event.optiongroups %}
      {% if optiongroup.public_statistic %}
      <tr>
        <th colspan="2">{{optiongroup.name}}</th>
      </tr>
      {% for option in optiongroup.options %}
        <tr>
            <td>{{option.name}}</td>

            <td>{{option.limited_selections.count}}{% if option.maximum_attendees or optiongroup.maximum_attendees %} (ud af {% firstof optiongroup.maximum_attendees option.maximum_attendees %} pladser){% endif %}</td>
        </tr>
      {% endfor %}
      {% endif %}
    {% endfor %}
</table>

{{event.description|safe}}

{% endblock %}
