{% extends "events/base_event.html" %}
{% load uni_form_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Fjern tilmelding' 'eventregistration_signoff' event.pk %}
{% endblock %}

{% block contenthead %}Afmeld arrangement{% endblock %}

{% block content %}

<p>Ved at afmelde dig arrangementet vil du blive fjernet fra vores deltagerliste, du vil til have mulighed
for at tilmelde dig arrangementet igen hvis du ombestemmer dig.</p>

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

{% endblock %}