{% load compressed %}<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="viewport" content="width=device-width">

        {% compressed_css 'combined' %}
        {% block css %}{% endblock %}

        {% compressed_js 'combined' %}
        <script type="text/javascript">
            $(function() {
                setTimeout(function() {
                    var errors = $(".has-error");

                    if (errors.length > 0) {
                        $.scrollTo(errors);
                    }
                }, 1);
            });
        </script>

        {% block head %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>
