{% extends "selvbetjening/base.html" %}

{% comment %}
By default we are providing a basic bootstrap styling of the website.

Overwrite this file if you want to provide your own stylesheets.
{% endcomment %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.3.0.0.min.css">
{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/holder.min.js"></script>
{% endblock %}

