{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url data_rules %}">behandling af personoplysninger</a></li>
{% endblock %}

{% block contenthead %}
<h2>Behandling af personoplysninger</h2>
{% endblock %}

{% block content %}
<p>Anime Kita overholder al relevant lovgivning om beskyttelse af privatliv og personoplysninger. Alle medlemmer af ledelsen forpligter sig til at beskytte vores medlemmer, forretningsforbindelser og andre, som videregiver personlige oplysninger til Anime Kita.</p>

<ol>
<li><p>Ved at benytte Anime Kitas hjemmeside eller ved at videresende personlige oplysninger til os, giver den besøgende samtykke til at lade Anime Kita indsamle, bruge og videregive personlige oplysninger som beskrevet nedenfor.</p>

<p>Hvis den besøgende ikke giver sit samtykke til ovenstående, bedes den besøgende forlade hjemmesiden uden at indsende personlige oplysninger til de ansvarlige for hjemmesiden.</p></li>

<li><p>De indsamlede eller tilsendte oplysninger af personlig karakter, vil blive bearbejdet i henhold til den gældende retspraksis i Danmark. Oplysninger af personlig karakter:</p>

<ul>
    <li>vil på ingen måde blive offentliggjort uden samtykke</li>
    <li>vil ikke videregives til en tredjepart</li>
    <li>vil blive behandlet i overensstemmelse med de formål som er givet</li>
</ul>
</li>

<li><p>De indsamlede eller tilsendte oplysninger vil blive benyttet i statistiske oversigter udstedt af ledelsen selv, den daglige administration af foreningen samt udsendelse af oplysninger over email hvis der er givet samtykke til dette.</p></li>

<li><p>Anime Kita indsamler oplysninger via informationer sendt til ledelsen ved registrering som medlem af Anime Kita. Disse oplysninger vil kun blive sendt ved accept af de vilkår nævnt her.</p></li>
</ol>

{% endblock %}