<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Selvbetjening v{{ VERSION }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="{{STATIC_URL}}sadmin2/css/bootstrap.3.0.0.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}sadmin2/css/main.css" rel="stylesheet">

        <script src="{{STATIC_URL}}sadmin2/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="{{STATIC_URL}}sadmin2/js/vendor/jquery-2.0.3.min.js"></script>
        <script src="{{STATIC_URL}}sadmin2/js/vendor/jquery-ui-1.10.3.min.js"></script>
        <script src="{{STATIC_URL}}sadmin2/js/vendor/jquery.autosize.min.js"></script>
        <script src="{{STATIC_URL}}sadmin2/js/vendor/jquery.autocomplete.min.js"></script>
        <script src="{{STATIC_URL}}sadmin2/js/vendor/bootstrap.min.js"></script>

        {% block head %}{% endblock %}
    </head>
    <body{% block body_attr %}{% endblock %}>

    {% block body %}{% endblock %}

    </body>
</html>