{% extends "sadmin2/base.html" %}
{% load sadmin2_breadcrumbs %}

{% block body %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "sadmin2:dashboard" %}"><span>Selvbetjening</span></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for item in sadmin2_menu_main %}
                <li {% ifequal sadmin2_menu_main_active item.id %}class="active"{% endifequal %}>
                    <a href="{% url item.url %}">{{ item.name }}</a>
                </li>
            {% endfor %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% sadmin2_breadcrumbs sadmin2_breadcrumbs_active %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            {% if messages %}
                {% for message in messages %}
                    <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}

        </div>
    </div>

</div> <!-- /container -->

<script src="{{ STATIC_URL }}sadmin2/js/vendor/jquery-1.10.1.min.js"></script>
<script src="{{ STATIC_URL }}sadmin2/js/vendor/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}sadmin2/js/main.js"></script>

{% block scripts %}{% endblock %}

{% endblock %}
