{% extends "sadmin2/base.html" %}
{% load sadmin2_breadcrumbs sadmin2_menu %}

{% block head %}

    {{ block.super }}
    <script src="{{STATIC_URL}}sadmin2/js/main.js"></script>

    <script type="text/javascript">
    {% if search_url %}
        $(function() {
            init_livesearch('{{search_url}}');
        });
    {% endif %}

        $(function() {

            $('.userselector').autocomplete({
                "paramName": "q",
                "serviceUrl": "{% url "sadmin2:autocomplete_users" %}",
                "autoSelectFirst": true//,
                //"onSelect": function(suggestion) {
                //    this.parents('form').submit();
                //}
            });

            $('.attendeeselector').autocomplete({
                "paramName": "q",
                "serviceUrl": "{% url "sadmin2:autocomplete_attendees" %}",
                "autoSelectFirst": true//,
                //"onSelect": function(suggestion) {
                //    this.parents('form').submit();
                //}
            });

        });
    </script>

{% endblock %}


{% block body %}


<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "sadmin2:dashboard" %}"><span>Selvbetjening <small>v{{ VERSION }}</small></span></a>
        </div>

        <ul class="nav navbar-nav">
        {% for item in sadmin2_menu_main %}
            <li {% ifequal sadmin2_menu_main_active item.id %}class="active"{% endifequal %}>
                <a href="{% url item.url %}">{{ item.name }}</a>
            </li>
        {% endfor %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "sadmin2:logout" %}">Logged in as {{ request.user.username }} | Logout</a></li>
        </ul>


      </div>
    </div>
</div>


<div class="container">
    <div class="row hidden-print">
        <div class="col-lg-12">
            {% sadmin2_breadcrumbs sadmin2_breadcrumbs_active %}
        </div>
    </div>

    <div class="row hidden-print">
        <div class="col-lg-12">

        {% if messages %}
            {% for message in messages %}
                <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% if sadmin2_menu_tab %}

            <ul class="nav nav-tabs">
                {% for item in sadmin2_menu_tab %}
                    {% ifnotequal item.dropdown None %}

                        <li class="{{ item.class }} {% ifequal sadmin2_menu_tab_active item.id %}active {% endifequal %}dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% if item.icon %}<i class="icon-fixed-width icon-{{ item.icon }}"></i>{% endif %}{{ item.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for item in item.dropdown %}
                                    {% sadmin2_hide_item item as hide %}
                                    {% if not hide %}
                                    <li class="{{ item.class }}{% ifequal sadmin2_menu_tab_active item.id %} active{% endifequal %}">
                                        <a href="{% sadmin2_emit_url item %}">{% if item.icon %}<i class="glyphicon glyphicon-{{ item.icon }}"></i> {% endif %}{{ item.name }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                    {% else %}

                        <li class="{{ item.class }}{% ifequal sadmin2_menu_tab_active item.id %} active{% endifequal %}">
                            <a href="{% sadmin2_emit_url item %}">{% if item.icon %}<i class="glyphicon glyphicon-{{ item.icon }}"></i> {% endif %}{% sadmin2_emit_name item %}</a>
                        </li>

                    {% endifnotequal %}
                {% endfor %}
            </ul>

            <br/>

        {% endif %}

        {% if search_url %}
            {% include "sadmin2/parts/search_box.html" %}
        {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

        {% block content %}{% endblock %}

         </div>
    </div>

    {% if search_url and instances and instances.has_next %}
    <div class="row">
        <div class="col-lg-12">
            <p id="searchmore" class="alert alert-info text-center"><a href="#">More</a></p>
        </div>
    </div>
    {% endif %}

</div> <!-- /container -->

{% endblock %}
