{% extends "admin/change_form.html" %}
{% load adminmedia %}

{% block after_field_sets %}

<div class="inline-group">
  <div class="tabular inline-related">
    <fieldset class="module">
    <h2>Tilvalg</h2>

   <table>
     <thead><tr>
     <th>Tilmeldte</th>
     <th>Betalt</th>
     <th>Valg</th>
     </tr></thead>

     {% for selection in original.selections %}
     <tr class="{% cycle "row1" "row2" %}">
       <td><a href="/admin/auth/user/{{ selection.attendee.user.id }}/">{{ selection.attendee.user.username }}</a></td>
       <td>{% if selection.attendee.invoice.is_paid %}
          <img src="{% admin_media_prefix %}img/admin/icon-yes.gif" alt="yes" />
        {% else %}
          <img src="{% admin_media_prefix %}img/admin/icon-no.gif" alt="yes" />
        {% endif %}</td>
        <td>{{ selection.suboption }}</td>
     </tr>
     {% endfor %}
     </table>
</div>


{% endblock %}