
<div class="row">
    <div class="col-lg-12">

    <h3 class="text-center">Status for din tilmelding</h3>

    <ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr{% if step > 0 %}-done{% elif step == 0 %}-current{% else %}-todo{% endif %}">Log ind</li><!--
 --><li class="progtrckr{% if step > 1 %}-done{% elif step == 1 %}-current{% else %}-todo{% endif %}">Opdater konto</li><!--
 --><li class="progtrckr{% if step > 2 %}-done{% elif step == 2 %}-current{% else %}-todo{% endif %}">Vælg tilvalg</li><!--
 --><li class="progtrckr{% if step > 3 %}-done{% elif step == 3 %}-current{% else %}-todo{% endif %}">Betal</li><!--
 --><li class="progtrckr{% if step == 4 %}-done{% else %}-todo{% endif %}">Tilmelding godkendt</li>
    </ol>

    <br/><br/>

    </div>
</div>