
<div class="row">
    <div class="col-lg-12">

    <h3 class="text-center">Status for din tilmelding</h3>

    <ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr{% if step > 0 %}-done{% else %}-todo{% endif %}{% if current_step == 0 %} progtrckr-current{% endif %}">Log ind</li><!--
 --><li class="progtrckr{% if step > 1 %}-done{% else %}-todo{% endif %}{% if current_step == 1 %} progtrckr-current{% endif %}">Opdater konto</li><!--
 --><li class="progtrckr{% if step > 2 %}-done{% else %}-todo{% endif %}{% if current_step == 2 %} progtrckr-current{% endif %}">Vælg tilvalg</li><!--
 --><li class="progtrckr{% if step > 3 %}-done{% else %}-todo{% endif %}{% if current_step == 3 %} progtrckr-current{% endif %}">Betal</li><!--
 --><li class="progtrckr{% if step == 4 %}-done{% else %}-todo{% endif %}{% if current_step == 4 %} progtrckr-current{% endif %}">Godkendt</li>
    </ol>

    <br/><br/>

    </div>
</div>