{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url quickregistration_register %}">opret bruger</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url quickregistration_complete %}">velkommen</a></li>
{% endblock %}

{% block contenthead %}Tak for din tilmelding{% endblock %}

{% block content %}

<p>Din selvbetjening bruger er nu oprettet. Besøg din egen brugerportal ved at logge på <a href="{% url home %}">her</a>. Du kan også besøge vores <a href="http://www.anime-kita.dk/forum/">forum</a> og møde andre medlemmer i foreningen. Du skal bruge det samme brugernavn og kodeord til forummet som til selvbetjening.</p>

{% endblock %}