{% extends "sadmin/events/event/base.html" %}
{% load uni_form_tags %}

{% block content %}

<div class="block">
  <form method="GET" action="">
    <input type="text" id="searchbox" name="search" autofocus="autofocus" autocomplete="off" placeholder="Søg efter et medlem" required="required" {% if query %}value="{{query}}"{% endif %} /> <input type="submit" value="" id="searchsubmit" />
  </form>
</div>

<div id="searchresults">
  {% include "sadmin/events/parts/attendee_search.html" %}
</div>

{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
init_livesearch($('#searchbox'), $('#searchresults'), '{% url sadmin:events_ajax_attendee_search event_id=event.pk %}?search=');
</script>
{% endblock %}