{% extends "sadmin/base/extendedsite.html" %}
{% load i18n %}

{% block content_title %}<h2>{% trans "Statistics" %}</h2>{% endblock %}

{% block content %}

<div class="block">

<h3>Tilmeldinger</h3>

<table class="horizontal">
    <tr>
        <th>Type/Status</th>
        <th>Tilmeldt (waiting)</th>
        <th>Godkendt (accepted)</th>
        <th>Deltaget (attended)</th>
        <th>Total</th>
    </tr>
    <tr>
        <th>Nye</th>
        <td>{{waiting_new}}</th>
        <td>{{accepted_new}}</td>
        <td>{{attended_new}}</td>
        <td>{{new_count}}</td>
    </tr>
    <tr>
        <th>Alle</th>
        <td>{{waiting_count}}</th>
        <td>{{accepted_count}}</td>
        <td>{{attended_count}}</td>
        <td>{{attendees_count}}</td>
    </tr>
</table>

</div>
<div class="block">

<h3>Betalinger</h3>

<p>Der er for {{invoice_payment_total}},- invoices hvoraf der er indbetalt {{invoice_paid}},-.</p>

<table class="horizontal">
    <tr>
        <th>Status</th>
        <th>Ikke betalte</th>
        <th>Delvist betalt</th>
        <th>Betalte</th>
        <th>Over-betalte</th>
        <th>Total</th>
    </tr>
    <tr>
        <th>Antal</th>
        <td>{{invoices_unpaid}}</td>
        <td>{{invoices_partial}}</td>
        <td>{{invoices_in_balance}}</td>
        <td>{{invoices_overpaid}}</td>
        <td>{{invoices_count}}</td>
    </tr>
</table>

</div>
<div class="block">

<h3>Tilvalg</h3>

<table class="horizontal">
     <tr>
        <th>Gruppe</th>
        <th>Tilvalg</th>
        <th>Tilmeldt (waiting)</th>
        <th>Godkendt (accepted)</th>
        <th>Deltaget (attended)</th>
        <th>Total</th>
     </tr>

     {% for optiongroup, options in optiongroups %}
     {% for option, count, waiting, accepted, attended in options %}
     <tr>
       <td><a href="{% url sadmin:events_optiongroup_change optiongroup.event.pk optiongroup.pk %}">
         {% if forloop.first %}{{ optiongroup.name }}{% endif %}
       </a></td>
       <td><a href="{% url sadmin:events_option_change optiongroup.event.pk optiongroup.pk option.pk %}">
         {{ option.name }}
       </a></td>
       <td>{{waiting}}</td>
       <td>{{accepted}}</td>
       <td>{{attended}}</td>
       <td>{{count}}</td>
     </tr>
     {% endfor %}
     {% endfor %}
   </table>

</div>
   
{% endblock %}