{% extends "site.html" %}

{% load core_tags %}

{% block breadcrumbs %}
<li><span>eventmode</span>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_info %}">info</a></li>
{% endblock %}

{% block contenthead %}
<h2>Eventmode Info</h2>
{% endblock %}

{% block content %}
<p>Event-mode bliver brugt til arrangementer som f.eks. Kita Træf. Når man går i event-mode vil der ske en række ændringer ved selvbetjening. Heribland vil der blive givet direkte adgang til en række værktøjer som ellers ikke er tilgængelige til dagligt.</p>

{% endblock %}