{% extends "site.html" %}

{% load markup core_tags %}

{% block breadcrumbs %}
<li><a href="{% url eventmode_list %}">event info</a></li>
{% endblock %}

{% block contenthead %}
<h2>Arrangementer</h2>
{% endblock %}

{% block content %}

{% if events %}

    <table class="horizontal">
    <tr>
        <th>Navn</th>
        <th>Dato</th>
        <th>År</th>
        <th style="width:30%">&nbsp;</th>
    </tr>
    
    {% for event in events %}
        <tr>
            <td>{{event.title}}</td>
            <td>{{event.startdate.day}}/{{event.startdate.month}} - {{event.enddate.day}}/{{event.enddate.month}}</td>
            <td>{{event.startdate.year}}</td>
            <td>
            {% icon_link "checkin" user_go eventmode_checkin event.id %}
            {% icon_link "tilvalg" book_open eventmode_options event.id %}
            </td>
        </tr>
    {% endfor %}
    </table>
    
{% else %}

    <p>Ingen registrerede arrangementer.</p>

{% endif %}

{% endblock %}