{% extends "site.html" %}

{% load markup core_tags %}

{% block breadcrumbs %}
<li><a href="{% url eventmode_list %}">event info</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_options event.id %}">{{event.title}} tilvalg</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_options_detail event.id,option.id %}">{{option.id}}</a></li>
{% endblock %}

{% block contenthead %}
<h2>Tilvalg: {{option.description}}</h2>
{% endblock %}

{% block content %}

{% if users %}

    <table class="horizontal">
    <tr>
        <th>#</th>
        <th>Brugernavn</th>
        <th>Navn</th>
    </tr>
    
    {% for user in users %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
    {% endfor %}
    </table>
    
{% else %}

    <p>Ingen har valgt dette tilvalg.</p>

{% endif %}

{% endblock %}