{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url eventmode_list %}">event info</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_statistics event.id %}">{{event.title}} statistik</a></li>
{% endblock %}

{% block contenthead %}
<h2>Statistik</h2>
{% endblock %}

{% block content %}

<h3>Tilmeldinger</h3>

<table class="horizontal">
    <tr>
        <th>Tilmeldte</th>
        <td>{{event.attendees_count}}</td>
    </tr>
    <tr>
        <th>Deltagere</th>
        <td>{{event.checkedin_count}} ({{checkin_precentage|stringformat:".1f"}}%)</td>
    </tr>
</table>

<h3>Deltagere</h3>

<table class="horizontal">
    <tr>
        <th>Nye</th>
        <td>{{new_attendees}} ({{new_attendees_precentage|stringformat:".1f"}}%)</td>
    </tr>
</table>

{% endblock %}