{% extends "admin/base_site.html" %}

{% load i18n admin_modify adminmedia %}
{% load accounting_translate %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>
<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/media/js/SelectBox.js"></script>
<script type="text/javascript" src="/media/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/media/js/admin/CollapsedFieldsets.js"></script>
{% endblock %}

{% block title %}
{% if startdate and enddate %}
Betalinger i perioden {{startdate}} - {{enddate}}
{% else %}
Betalinger i en periode
{% endif %}
{% endblock %}

{% block content_title %}
{% if startdate and enddate %}
<h2>Betalinger i perioden {{startdate}} - {{enddate}}</h2>
{% else %}
<h2>Betalinger i en periode</h2>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main">

{% if startdate and enddate %}
{% block object-tools %}
  <ul class="object-tools">
    <li><a href="{% url admin_payment_report startdate enddate %}" class="historylink">Permalink</a></li>
  </ul>
{% endblock object-tools %}
{% endif %}

<form method="POST" action="">

    {% for fieldset in adminform %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}

    <div class="submit-row" >
    <input type="submit" value="Vis Rapport" name="show_report" />
    </div>

</form>


{{startdate}}
<table>
<tr>
    <td>Brugernavn</td>
    <td>Tidspunkt</td>
    <td>Betaling</td>
    <td>DKK</td>
</tr>
{% for payment in payments %}
<tr>
    <td>{{payment.user.username}}</td>
    <td>{{payment.timestamp|date:"d/m - Y H:i:s"}}</td>
    <td>{{payment.type|translate:"payment_type"}}</td>
    <td>{{payment.get_ammount}},-</td>
</tr>
{% endfor %}
<tr>
    <td colspan="3"><b>Total</b></td>
    <td><b>{{total}},-</b></td>
</tr>
</table>

</div>
{% endblock %}