{% load i18n humanize %}

<table class="table">
    <tr>
        <th><abbr title="Number of attendees (potential income if all attendees pays)."><i>Potential</i></abbr></th>
        <th><abbr title="Attendees who have paid too much (pending refund).">Overpaid (+)</abbr></th>
        <th><abbr title="Attendees who have paid too little (missing payments).">Underpaid (-)</abbr></th>
        <th><abbr title="Attendees who have not paid anything (missing payments).">Unpaid (-)</abbr></th>
        <th><abbr title="Number of attendees (the sum of all registered payments including pending refunds.">Realised (=)</abbr></th>
    </tr>

    <tr>
        <td>{{ total.potential }} <br/>({{ total.potential_total | intcomma }},-)</td>
        <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:price<:paid">{{ total.overpaid }}</a> <br/>({{ total.overpaid_total | intcomma }},-)</td>
        <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:price>:paid :paid!=0">{{ total.underpaid }}</a> <br/>({{ total.underpaid_total | intcomma }},-)</td>
        <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:paid=0">{{ total.unpaid }}</a> <br/>({{ total.unpaid_total | intcomma }},-)</td>
        <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:paid!=0">{{ total.realised }}</a> <br/>({{ total.realised_total | intcomma }},-)</td>
    </tr>

</table>