body {
    padding-top: 1em;
}

div.logo h1 {
    font-family: 'Nobile', sans-serif;
    font-weight: 400;
    color: #000000;
}

div.logo a:hover {
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.right {
    float: right;
}

a {
    cursor: pointer;
}

.text-right {
    text-align: right;
}