body {
    padding-top: 1em;
}

div.logo h1 {
    font-family: 'Nobile', sans-serif;
    font-weight: 400;
}

.center-text {
    text-align: center;
}

.attendee-state-indicator {
    border-color: #468847;
    border-width: 0 0 1.5em 0;
    border-style: solid;

    margin-bottom: 2em;
}