{% extends "site.html" %}

{% load core_tags uniform %}

{% block extraheader %}
    {% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url mailcenter_list %}">e-mails</a>&nbsp;&gt;&nbsp;</li>
{% if mail %}
<li><a href="{% url mailcenter_edit mail.id %}">{{mail.subject}}</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url mailcenter_edit mail.id %}">edit</a></li>
{% else %}
<li><a href="{% url mailcenter_edit "new" %}">new</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url mailcenter_edit "new" %}">edit</a></li>
{% endif %}
{% endblock %}

{% block contenthead %}
<h2>Edit E-mail</h2>
{% endblock %}

{% block content %}

{{form|uniform:"save draft"}}

{% endblock %}