
/*
 * Global
 */

body {
    padding-top: 60px;
}

.navbar-brand span {
    color: #FFFFFF;
}

ol.breadcrumb li.active a {
    font-weight: bold;
    color: #000000;
}

ul.sadmin-sidebar-nav li.nav-header {
    font-size: 1.2em;
    font-weight: normal;
    color: #000000;
    background-color: #EEEEEE;
    margin-top: 1em;
}

/*
 * Modifiers
 */

.clickable, .clickable * {
    cursor: pointer;
}









