
/*
 * Global
 */

body {
    padding-bottom: 4em;
}

.navbar-brand span {
    color: #FFFFFF;
}

ol.breadcrumb li.active a {
    font-weight: bold;
    color: #000000;
}

/*
 * Modifiers
 */

.clickable, .clickable * {
    cursor: pointer;
}

.nav-tabs  li.create  a {
    color: #FFFFFF;
    cursor: default;
    background-color: #5CB85C;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: pointer;
}

.nav-tabs  li.create  a:hover,
.nav-tabs  li.create  a:focus {
    color: #FFFFFF;
    cursor: default;
    background-color: #47a447;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: pointer;
}
