{% load i18n %}

<h3>{% trans "Invoice" %}</h3>

{% if invoice.in_balance %}
    <table class="success data">
{% else %}{% if invoice.is_paid %}
    <table class="warning data">
{% else %}
    <table class="error data">
{% endif %}{% endif %}

    {% for line in invoice.line_set.all %}

    {% ifchanged line.group_name %}
    <tr>
        <th colspan="2">{{line.group_name}}</th>
    </tr>
    {% endifchanged %}

    <tr>
        <td>{{line.description}}</td><td>{{line.price}},-</td>
    </tr>
    {% endfor %}

    <tr>
    <td colspan="2"></td>
    </tr>

    <tr>
        <th>Total:</th><th>{{invoice.total_price}},-</th>
    </tr>
    <tr>
        <th>Heraf betalt:</th><th>{{invoice.paid}},-</th>
    </tr>

    {% if invoice.in_balance %}
    <tr>
        <th colspan="2">Denne invoice er betalt</th>
    </tr>
    {% endif %}

    {% if not invoice.is_paid %}
    <tr>
        <th>Total til betaling:</th><th>{{invoice.unpaid}},-</th>
    </tr>
    {% endif %}

    {% if invoice.is_overpaid %}
    <tr>
        <th>Total til udbetaling:</th><th>{{invoice.overpaid}},-</th>
    </tr>
    {% endif %}

</table>