{% extends "sadmin/base/extendedsite.html" %}
{% load i18n %}

{% block extrahead %}{{block.super}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCX84dfVLIv0IO2UlmQz3PenHT33DJdN6I&sensor=false"></script>
<script type="text/javascript">

  function initialize() {
      var myLatlng = new google.maps.LatLng(56.1385570, 10.9673220);
      var mapOptions = {
          zoom: 7,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

      {% for location in locations %}
      new google.maps.Marker({
          position: new google.maps.LatLng({{location.lat|stringformat:"f"}}, {{location.lng|stringformat:"f"}}),
          map: map,
          title: "{{location.user.first_name}} {{location.user.last_name}}"
      });
      {% endfor %}
  }

  $(document).ready(function() {
    initialize();
  });

</script>
{% endblock %}

{% block content_title %}
<h2>{% trans "Member Map" %}</h2>
{% endblock %}

{% block content %}

<div class="block">
   <div id="map_canvas" style="width:995px; height:500px"></div>
</div>

<p>Currently {{expired}} locations are marked as expired and {{invalid}} locations are invalid.</p>

{% endblock %}