<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}Eventmode{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

{% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}<h1>Eventmode{% if eventmode.is_authenticated %} for {{ eventmode.model.event.title }}{% endif %}</h1>{% endblock %}
        </div>
        {% if eventmode.is_authenticated %}
        <div id="user-tools">
            Event Machine <strong>{{ eventmode.model.name }}</strong>.
            {% block userlinks %}
                <a href="{% url eventmode_logout %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}

        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url eventmode_checkin %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title|escape }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

    {% if user.is_authenticated and user.is_staff %}
        {% endif %}

        {% if messages or user.is_authenticated %}
        <ul class="messagelist">
            {% if user.is_authenticated %}
                <li>Brugeren <strong>{{ user.username }}</strong> er logget ind på denne computer. Log venligst denne bruger ud! (<a href="{% url members_logout %}">log ud</a>)</li>
            {% endif %}

            {% for message in messages %}
                <li>{{ message|escape }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title|escape }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>