{% if attendee.invoice.in_balance %}
<fieldset class="module aligned " style="border-color: green; border-width: 4px;">
{% else %}
    {% if attendee.invoice.is_paid %}
    <fieldset class="module aligned " style="border-color: yellow; border-width: 4px;">
    {% else %}
    <fieldset class="module aligned " style="border-color: red; border-width: 4px;">
    {% endif %}
{% endif %}

{% for line in attendee.invoice.line_set.all %}
<div class="form-row type  ">
<div>
{{line.description}} - {{line.price}},-
</div>
</div>
{% endfor %}

<div class="form-row type  ">
<div>
Total: {{attendee.invoice.total_price}},- &nbsp; &nbsp; &nbsp; Heraf betalt: {{attendee.invoice.paid}},-
</div>
</div>
<div class="form-row type  ">
<div>
{% if attendee.invoice.in_balance %}
<b>Denne invoice er betalt</b>
{% endif %}

{% if not attendee.invoice.is_paid %}
<b>Total til betaling: {{attendee.invoice.unpaid}},-</b>
{% endif %}

{% if attendee.invoice.is_overpaid %}
<b>Total til udbetaling: {{attendee.invoice.overpaid}},-</b>
{% endif %}
</div>
</div>
</fieldset>