{% extends "eventmode/base.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url eventmode_list_attendees %}">{% trans 'Checkin' %}</a>
    &rsaquo; {{ attendee.user.username }}
    &rsaquo; {% trans 'Checkout' %}
</div>
{% endblock %}

{% block content_title %}
<h1>Checkout for {{attendee.user.first_name}} {{attendee.user.last_name}} &lt;{{attendee.user.username}}&gt;</h1>
{% endblock %}

{% block content %}

{% include "eventmode/navigation_part.html" %}

<form method="POST" action="">
    <div class="submit-row" >
    <input style="float: left; font-size: 200%;" type="submit" value="Checkout" name="do_checkout" />
    </div>
</form>
{% endblock %}