<form method="POST" action="">
    <div class="submit-row">
    <a style="float: left;" href="{% url eventmode_list_attendees %}"><input type="button" value="Tilbage til attendee liste" /></a>
    <a style="float: left;" href="{% url eventmode_change_selections attendee.user.id %}"><input type="button" value="Ændre tilvalg" /></a>
    <a style="float: left;" href="{% url eventmode_billing attendee.user.id %}"><input type="button" value="Billing" /></a>

    {% if attendee.has_attended %}
    <a style="float: left;" href="{% url eventmode_checkout attendee.user.id %}"><input type="button" value="Checkout" /></a>
    {% else %}
    <a style="float: left;" href="{% url eventmode_checkin attendee.user.id %}"><input type="button" value="Checkin" /></a>
    {% endif %}
    </div>
</form>