{% extends "eventmode/base.html" %}

{% load markup core_tags i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url eventmode_index %}">{% trans 'Home' %}</a>
    &rsaquo; {{event.title}} Tilvalg
</div>
{% endblock %}

{% block content_title %}
<h1>Tilvalg</h1>
{% endblock %}

{% block content %}

{% if optiongroups %}

    <table class="horizontal">
    <tr>
        <th>Navn</th>
        <th>Valgte</th>
        <th style="width:30%">&nbsp;</th>
    </tr>
    {% for optiongroup in optiongroups %}

    <tr>
        <td colspan="3"><b>{{optiongroup.name}}</b></td>
    </tr>

        {% for option in optiongroup.option_set.all %}
            <tr>
                <td>{{option.name}}</td>
                <td style="text-align:center;">{{option.attendees_count}}</td>
                <td>
                     <a href="{% url eventmode_options_detail option.id %}">tilmeldte</a>
                </td>
            </tr>
        {% endfor %}

    {% endfor %}
    </table>

{% else %}

    <p>Ingen tilføjede tilvalg.</p>

{% endif %}

{% endblock %}