{% extends "eventmode/base.html" %}

{% load markup core_tags i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url eventmode_index %}">{% trans 'Home' %}</a>
    &rsaquo;
    <a href="{% url eventmode_options %}">{{event.title}} Tilvalg</a>
    &rsaquo; {{option.name}}
</div>
{% endblock %}

{% block content_title %}
<h1>Tilvalg: {{option.name}}</h1>
{% endblock %}

{% block content %}

{% if users %}

    <table class="horizontal">
    <tr>
        <th>#</th>
        <th>Brugernavn</th>
        <th>Navn</th>
    </tr>

    {% for user in users %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
        </tr>
    {% endfor %}
    </table>

{% else %}

    <p>Ingen har valgt dette tilvalg.</p>

{% endif %}

{% endblock %}