{% extends "eventmode/base.html" %}
{% load i18n core_tags admin_modify adminmedia %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url eventmode_index %}">{% trans 'Home' %}</a>
    &rsaquo;
    <a href="{% url eventmode_checkin %}">{{ event.title }} Checkin</a>
    &rsaquo; {{ user.username }}
</div>
{% endblock %}

{% block content_title %}
<h1>Checkin for {{user.first_name}} {{user.last_name}} &lt;{{user.username}}&gt;</h1>
{% endblock %}

{% block content %}

<form method="POST" action="">

{{ checkin_parts|safe }}

    <div class="submit-row" >
    <input type="submit" value="Checkin Bruger" name="do_checkin" />
    </div>

</form>

{% endblock %}