{% extends "site.html" %}
{% load uni_form_tags %}

{% block extraheader %}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url eventregistration_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventregistration_change_options event.id %}">tilvalg for {{event.title}}</a></li>
{% endblock %}

{% block contenthead %}Ændre tilvalg{% endblock %}

{% block content %}

<form method="POST" action="">

{% include "eventregistration/options.html" %}

{{ signup_render|safe }}

<div class="buttonHolder">
	<input type="submit" name="Ændre" value="Ændre" />
</div>

</form>

{% endblock %}