{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url eventregistration_view_all %}">arrangementer</a></li>
{% endblock %}

{% block contenthead %}
Arrangementer
{% endblock %}

{% block content %}

{% block description %}
<p>Her vil du kunne finde en liste over samtlige events. Har du en selvbetjening bruger, har du mulighed for at tilmelde dig fremtidige events og arrangementer.</p>
{% endblock %}

{% block list %}
{% if events %}

    <table class="horizontal">
    <tr>
        <th>Navn</th>
        <th>Dato</th>
        <th>År</th>
        <th style="width:30%">&nbsp;</th>
    </tr>

    {% for event in events %}
        <tr>
            <td><a href="{% url eventregistration_view event.id %}">{{event.title}}</a></td>
            <td>{{event.startdate.day}}/{{event.startdate.month}} - {{event.enddate.day}}/{{event.enddate.month}}</td>
            <td>{{event.startdate.year}}</td>
            <td>{% if event.is_registration_open %}Åben for tilmelding{% endif %}</td>
        </tr>
    {% endfor %}
    </table>

{% else %}

    <p>Ingen registrerede arrangementer.</p>

{% endif %}
{% endblock %}

{% endblock %}