{% extends "events/base_event.html" %}
{% load uni_form_tags %}

{% block extraheader %}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Tilmeld arrangement' 'eventregistration_signup' event.pk %}
{% endblock %}

{% block contenthead %}Tilmeld arrangement{% endblock %}

{% block content %}

<p>Efter du har tilmeldt dig dette arrangement vil dit <i>fulde navn</i> og <i>brugernavn</i> blive vist <b>offentligt</b> i en liste over deltagere.</p>

<form action="" class="uniForm" method="POST">
{% csrf_token %}

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

{% if event.has_options %}
<h2>Tilvalg</h2>

{% include "eventregistration/parts/options.html" %}
{% endif %}

{{ signup_parts|safe }}

<div class="buttonHolder">
	<input type="submit" name="Tilmeld" value="Tilmeld" />
</div>

</form>

{% endblock %}