{% extends "site.html" %}

{% load markup %}

{% block breadcrumbs %}
<li><a href="{% url eventregistration_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventregistration_view event.id %}">{{event.title}}</a></li>
{% endblock %}

{% block contenthead %}
{{event.title|escape}}
{% endblock %}

{% block sub_content_head %}
Dato: {{event.startdate|date:"j/n"}} - {{event.enddate|date:"j/n"}} {{event.enddate|date:"Y"}}
{% endblock %}

{% block content %}
{{event.description|textile}}

{% if event.is_registration_open %}

    {% if user.is_authenticated %}
        {% if not userIsSignedup %}
            {% if event.is_registration_allowed %}
            <ul class="table-options">
                <li>&#187; <a href="{% url eventregistration_signup event.id %}">Tilmeld dig dette arrangement</a></li>
            </ul>
            {% else %}
            <p>Det maksimale antal deltagere er opnået, tilmeldingen er derfor lukket.</p>
            {% endif %}
        {% else %}
        <ul class="table-options">
            <li>&#187; <a href="{% url eventregistration_signoff event.id %}">Afmeld dig fra dette arrangement</a></li>
        </ul>
            {% if event.has_options %}
            <ul class="table-options">
            <li>&#187; <a href="{% url eventregistration_change_options event.id %}">Ændre tilvalg</a></li>
            {% if event.show_invoice_page %}
            <li>&#187; <a href="{% url eventregistration_view_invoice event.id %}">Se kvittering</a></li>
            {% endif %}
            </ul>
            {% endif %}

        {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
        <ul class="table-options">
            <li>&#187; <a href="{% url quickregistration_register %}">Bliv medlem</a></li>
            <li>&#187; <a href="{% url eventregistration_signup event.id %}">Tilmeld dig nu. (kræver medlemsskab)</a></li>
        </ul>
    {% endif %}

{% else %}

    <p>Tilmeldingen er ikke åbnet på nuværende tidspunkt.</p>

{% endif %}

{% if attendees %}

    <table class="horizontal">
        <tr>
            <th>#</th>
            <th>Navn</th>
            <th>Brugernavn</th>
            <th>&nbsp;</th>
        </tr>

    {% for attendee in attendees %}
        <tr
        {% ifequal attendee.user.id user.id %}
            class="item_high"
        {% else %}
            {% if event.has_been_held and not attendee.has_attended %}
                class="item_low"
            {% endif %}
        {% endifequal %}
        >
            <td>{{forloop.counter}}</td>
            <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
            <td>{{attendee.user.username}}</td>
            <td>
            {% if event.has_been_held and not attendee.has_attended %}
                deltog ikke
            {% endif %}
            </td>
        </tr>
    {% endfor %}

    </table>



{% else %}
    <p>Ingen tilmeldte.</p>
{% endif %}

{% endblock %}