{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url eventregistration_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventregistration_view event.id %}">{{event.title}}</a></li>
{% endblock %}

{% block contenthead %}{{event.title|escape}}{% endblock %}

{% block content %}
Dato: {{event.startdate|date:"j/n"}} - {{event.enddate|date:"j/n"}} {{event.enddate|date:"Y"}}

{{event.description|safe}}

{% if event.is_registration_open %}

    {% if user.is_authenticated %}
        {% if not userIsSignedup %}
            {% if event.is_registration_allowed %}
            <ul class="table-options">
                <li>&#187; <a href="{% url eventregistration_signup event.id %}">Tilmeld dig dette arrangement</a></li>
            </ul>
            {% else %}
            <p>Det maksimale antal deltagere er opnået, tilmeldingen er derfor lukket.</p>
            {% endif %}
        {% else %}
        <ul class="table-options">
            <li>&#187; <a href="{% url eventregistration_signoff event.id %}">Afmeld dig fra dette arrangement</a></li>
        </ul>
            {% if event.has_options %}
            <ul class="table-options">
            <li>&#187; <a href="{% url eventregistration_change_options event.id %}">Ændre tilvalg</a></li>
            {% if event.show_invoice_page %}
            <li>&#187; <a href="{% url eventregistration_view_invoice event.id %}">Se kvittering</a></li>
            {% endif %}
            </ul>
            {% endif %}

        {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
        <ul class="table-options">
            <li>&#187; <a href="{% url quickregistration_register %}">Bliv medlem</a></li>
            <li>&#187; <a href="{% url eventregistration_signup event.id %}">Tilmeld dig nu. (kræver medlemsskab)</a></li>
        </ul>
    {% endif %}

{% else %}

    <p><b>Tilmeldingen er ikke åbnet på nuværende tidspunkt.</b></p>

{% endif %}

{% if event.maximum_attendees %}
<table>
<tr>
    <th>Venter på betaling</th>
    <th>Tilmeldte</th>
    <th>Max antal tilmeldte</th>
</tr>
<tr>
    <td>{{event.waiting_attendees.count}}</td>
    <td>{{event.accepted_attendees.count}}</td>
    <td>{{event.maximum_attendees}}</td>
</tr>
</table>
{% endif %}

<h2>Tilmeldte</h2>

{% ifequal event.move_to_accepted_policy "on_payment" %}
    {% if event.accepted_attendees %}

        <table class="horizontal">
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Brugernavn</th>
                <th>&nbsp;</th>
            </tr>

        {% for attendee in event.accepted_attendees %}
            <tr
            {% ifequal attendee.user.id user.id %}
                class="item_high"
            {% else %}
                {% if event.has_been_held and not attendee.has_attended %}
                    class="item_low"
                {% endif %}
            {% endifequal %}
            >
                <td>{{forloop.counter}}</td>
                <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
                <td>{{attendee.user.username}}</td>
                <td>
                {% if event.has_been_held and not attendee.has_attended %}
                    deltog ikke
                {% endif %}
                </td>
            </tr>
        {% endfor %}

        </table>

    {% else %}
        <p>Ingen tilmeldte.</p>
    {% endif %}

    <h2>Venter på betaling</h2>

    {% if event.waiting_attendees %}

    <table class="horizontal">
            <tr>
                <th>#</th>
                <th>Navn</th>
                <th>Brugernavn</th>
                <th>&nbsp;</th>
            </tr>

        {% for attendee in event.waiting_attendees %}
            <tr
            {% ifequal attendee.user.id user.id %}
                class="item_high"
            {% else %}
                {% if event.has_been_held and not attendee.has_attended %}
                    class="item_low"
                {% endif %}
            {% endifequal %}
            >
                <td>{{forloop.counter}}</td>
                <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
                <td>{{attendee.user.username}}</td>
                <td>
                {% if event.has_been_held and not attendee.has_attended %}
                    deltog ikke
                {% endif %}
                </td>
            </tr>
        {% endfor %}

        </table>

    {% else %}
        <p>Venter ikke på nogen betalinger.</p>
    {% endif %}

{% else %}

{% if attendees %}

    <table class="horizontal">
        <tr>
            <th>#</th>
            <th>Navn</th>
            <th>Brugernavn</th>
            <th>&nbsp;</th>
        </tr>

    {% for attendee in attendees %}
        <tr
        {% ifequal attendee.user.id user.id %}
            class="item_high"
        {% else %}
            {% if event.has_been_held and not attendee.has_attended %}
                class="item_low"
            {% endif %}
        {% endifequal %}
        >
            <td>{{forloop.counter}}</td>
            <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
            <td>{{attendee.user.username}}</td>
            <td>
            {% if event.has_been_held and not attendee.has_attended %}
                deltog ikke
            {% endif %}
            </td>
        </tr>
    {% endfor %}

    </table>



{% else %}
    <p>Ingen tilmeldte.</p>
{% endif %}

{% endifequal %}

{% endblock %}
