{% load verbatim %}{% verbatim %}

    <div class="row-fluid attendee-state-indicator attendee-state-indicator-{{ attendee.state }}">
        <div class="span12">
            <a class="btn btn-primary doBack right"><i class="icon-arrow-left icon-white"></i> Tilbage til oversigten</a>
            <h1>{{ attendee.user.name }} <small>{{ attendee.user.username }}</small></h1>
        </div>
    </div>

    <div class="row-fluid">

        <div class="span6">

            <div class="attendeeState"></div>

            <h3>Noter</h3>
            <div class="attendeeComments"></div>

        </div>

        <div class="span6 attendeeSelection">



        </div>


    </div>

{% endverbatim %}