{% extends "sadmin2/site.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="pull-right">
            <a href="{% url "sadmin2:event_selections_manage" event_pk=event.pk %}" class="btn btn-primary">Indstillinger</a>
        </div>
    </div>
</div>

<br/>

<div class="row">
<div class="col-lg-12">

{% for option_group, options in optiongroups %}

<div class="panel panel-default">
  <div class="panel-heading" style="overflow: auto;">
      <h3 class="panel-title">{{ option_group.name }}</h3>
  </div>
  <div class="panel-body">

    <table class="table">
         <tr>
            <th>Tilvalg</th>
            <th>Tilmeldt</th>
            <th>Godkendt</th>
            <th>Deltaget</th>
            <th>Total</th>
         </tr>
         <tbody>

         {% for option, count, waiting, accepted, attended in options %}
         <tr>
           <td>{{ option.name }}</td>
           <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:selection__option__pk={{ option.pk }} :state=waiting">{{waiting}}</a></td>
           <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:selection__option__pk={{ option.pk }} :state=accepted">{{accepted}}</a></td>
           <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:selection__option__pk={{ option.pk }} :state=attended">{{attended}}</a></td>
           <td><a href="{% url "sadmin2:event_attendees" event_pk=event.pk %}?q=:selection__option__pk={{ option.pk }}">{{count}}</a></td>
         </tr>
         {% endfor %}

         </tbody>
    </table>

  </div>
</div>

{% empty %}
    <div class="alert alert-info"><strong>Dette arrangement har ingen tilvalg.</strong></div>
    <a href="{% url "sadmin2:event_settings_selections" event_pk=event.pk %}" class="btn btn-lg btn-primary">Administrer tilvalg</a>
{% endfor %}

</div>
</div>

{% endblock %}