{% extends "sadmin/base/extendedsite.html" %}
{% load adminmedia i18n %}

{% block content_title %}
<h2>{% trans "Register Payment" %}</h2>
{% endblock %}

{% block content %}

{% for payment in payments %}
    <div style="background-color: #7CA0C7; border-style: solid; border-color: #000000; border-width: 1px; padding: 1em;">
    <h3>Betaling på {{payment.payment.amount}},- er blevet gennemført for {{payment.attendee.user.get_full_name}}.</h3>
    </div>

    {% if not payment.attendee.invoice.in_balance %}
        <br/><br/>
        <div style="background-color: #fce94f; border-style: solid; border-color: #000000; border-width: 1px; padding: 1em;">
        <h3>Denne person har enten ikke betalt det fulde beløb eller har betalt for meget. Gennemgå venligst <a href="{% url sadmin:events_attendee_change payment.attendee.event.pk payment.attendee.pk %}">denne persons kvittering</a> og <a href="mailto:{{payment.attendee.user.email}}">kontakt personen</a>.</h3>
        </div>
    {% endif %}
    <br/><br/>
{% endfor %}

<form method="POST" action="">{% csrf_token %}
{{ adminforms.management_form }}
{% for adminform in adminforms %}

    {% for fieldset in adminform %}
          {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    
{% endfor %}

<div class="submit-row" >
    <input type="submit" value="{% trans "Register payment" %}" class="default" name="do_register_payment" />
</div>

</form>

{% endblock %}