{% extends "site.html" %}

{% load uniform %}

{% block extraheader %}
{% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url members_login %}">log ind</a></li>
{% endblock %}

{% block contenthead %}Log ind{% endblock %}

{% block content %}

<p>Hvis du ikke har en selvbetjening bruger, skal du først <a href="{% url quickregistration_register %}">oprette en her</a>.</p>

{{form|uniform:"Log ind"}}

<ul class="table-options">
    <li>&#187; <a href="{% url auth_password_reset %}">Glemt dit kodeord?</a></li>
    <li>&#187; <a href="{% url quickregistration_register %}">Opret bruger</a></li>
</ul>

{% endblock %}