{% extends "site.html" %}
{% load i18n %}

{% load uniform %}

{% block extraheader %}
{% uniform_header %}
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset confirmation' %}</div>{% endblock %}

{% block contenthead %}Nulstil kodeord{% endblock %}

{% block content %}

{% if validlink %}

<p>Indtast venligst dit nye kodeord</p>

{{form|uniform:"Sæt nyt kodeord"}}

{% else %}

<p>Linket du har brugt er ugyldigt. Dette kan muligvis skyldes at det allerede er blevet brugt. Prøv eventuelt at nulstille dit kodeord igen.</p>

{% endif %}

{% endblock %}