{% extends "site.html" %}

{% block breadcrumbs %}
<li><span>regler for personoplysninger</span></li>
{% endblock %}

{% block contenthead %}
<h2>Regler for personoplysniger</h2>
{% endblock %}

{% block content %}
<p>For at sikre vores medlemmer og brugeres data tilstræber vi os på at følge <a href="http://www.datatilsynet.dk/publikationer/pjece/persondataloven.htm">persondataloven</a>. Hvilket nedsætter nogle regler for hvad vi må gemme af oplysninger, hvad vi må bruge dem til og hvordan vi gemmer der.</p>

{% endblock %}