{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Events</a> &rsaquo;
     <a href="../../">Events</a> &rsaquo;
     <a href="../">{{attendee}}</a> &rsaquo;
     Ændre tilvalg
</div>
{% endif %}{% endblock %}

{% block content_title %}
<h1>Checkin for {{attendee.user.first_name}} {{attendee.user.last_name}} &lt;{{attendee.user.username}}&gt;</h1>
{% endblock %}

{% block content %}

<form method="POST" action="">

{{ checkin_parts|safe }}

    <div class="submit-row" >
    <input style="float: left; font-size: 200%;" type="submit" value="Gem og gå til checkin" class="default" name="do_save_and_checkin" />
    <input style="float: left; font-size: 200%;" type="submit" value="Gem og vis deltagere" name="do_save_and_list" />
    <input style="float: left; font-size: 200%;" type="submit" value="Gem" name="do_save" />
    </div>

</form>

{% endblock %}