{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url eventmode_list_attendees %}">{% trans 'Checkin' %}</a>
    &rsaquo; {{ attendee.user.username }}
    &rsaquo; Checkin
</div>
{% endblock %}

{% block content_title %}
<h1>Checkin for {{attendee.user.first_name}} {{attendee.user.last_name}} &lt;{{attendee.user.username}}&gt;</h1>
{% endblock %}

{% block content %}

{% include "admin/events/attend/navigation_part.html" %}

{{ checkin_rendered|safe }}

{% include 'admin/events/attend/billing_block.html' %}

<div class="form-row type  ">
<div>
Total: {{attendee.invoice.total_price}},- &nbsp; &nbsp; &nbsp; Heraf betalt: {{attendee.invoice.paid}},-
</div>
</div>
<div class="form-row type  ">
<div>
<b>Total til betaling: {{attendee.invoice.total_price}},-</b>
</div>
</div>
</fieldset>

<form method="POST" action="">
    <div class="submit-row" >
    <input style="float: left; font-size: 200%;" type="submit" value="Betal og Checkin" class="default" name="do_checkin_and_pay" />
    <input style="float: left; font-size: 200%;" type="submit" value="Checkin uden betaling" name="do_checkin" />
    </div>
</form>
{% endblock %}