{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">Events</a> &rsaquo;
     <a href="../../">Events</a> &rsaquo;
     <a href="../">{{attendee}}</a> &rsaquo;
     Checkout
</div>
{% endif %}{% endblock %}

{% block content_title %}
<h1>Checkout for {{attendee.user.first_name}} {{attendee.user.last_name}} &lt;{{attendee.user.username}}&gt;</h1>
{% endblock %}

{% block content %}

{% include "admin/events/attend/navigation_part.html" %}

<h1>Du er ved at fjerne denne bruger fra eventet</h1>
<p>Før du gør dette burde du sikre dig at der ikke er registeret fejlagtige betalinger for denne bruger.</p>

<form method="POST" action="">
    <div class="submit-row" >
    <input style="float: left; font-size: 200%;" type="submit" value="Checkout" name="do_checkout" />
    </div>
</form>
{% endblock %}