{% extends "selvbetjening/sitebase.html" %}
{% load crispy_forms_tags i18n %}

{% block head %}
    {{ block.super }}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/eventsingle.css">
{% endblock %}

{% block content-pre-messages %}
    {% include "eventsingle/parts/steps.html" %}
{% endblock %}

{% block content %}

    <h1>Vælg tilvalg</h1>

    <form method="POST" class="form-horizontal">
        {% csrf_token %}

        {% for form in formset %}
            {% crispy form %}
        {% endfor %}

        <div class="form-actions">
            <input type="submit" name="register" value="{% if edit_mode %}Opdater dine tilvalg{% else %}Tilmeld dig{% endif %}" class="btn btn-primary" />
        </div>

    </form>

{% endblock %}