{% extends "selvbetjening/sitebase.html" %}
{% load crispy_forms_tags i18n %}

{% block content-pre-messages %}
    {% include "eventsingle/parts/steps.html" %}
{% endblock %}

{% block content %}

    {% if edit_mode %}
        <h1>Ændre dine tilvalg</h1>
    {% else %}
        <h1>Vælg tilvalg</h1>
    {% endif %}

    <form method="POST" class="form-horizontal">
        {% csrf_token %}

        {% for form in formset %}
            {% crispy form %}
        {% endfor %}

        <div class="form-actions">
            <input type="submit" name="register" value="{% if edit_mode %}Opdater dine tilvalg{% else %}Tilmeld dig{% endif %}" class="btn btn-primary" />
        </div>

    </form>

{% endblock %}