{% extends "selvbetjening/sitebase.html" %}
{% load crispy_forms_tags %}

{% block head %}
    {{ block.super }}

    <style type="text/css">
        .content {
            border-color: #494949;
            border-width: 5px 0 0 0;
            border-style: solid;
            background-color: #eeeeec;
            overflow: auto;
            padding-bottom: 2em;
        }

        .inner-content {
            margin: 0 1em 0 1em;
        }
    </style>
{% endblock %}

{% block content-pre-messages %}
    {% include "eventsingle/parts/steps.html" %}
{% endblock %}

{% block content %}

<div class="row content">
    <div class="col-lg-6">
    <div class="inner-content">

        <h2>Jeg har <b>ikke</b> en konto</h2>

        <p>Opret en ny konto og tilmeld dig vores arrangement.</p>

        <p>Husk, du kan også bruge din konto til at følge din tilmelding.</p>

        <form method="POST">
            {% crispy registration_form %}

            <div class="form-actions">
                <button class="btn btn-danger" name="submit_create_user">
                    <i class="fa fa-user"></i> Opret konto
                </button>
            </div>
        </form>

    </div>
    </div>

    <div class="col-lg-6">
    <div class="inner-content">

        <h2>Jeg har en konto</h2>

        <p>Log ind og tilmeld dig dette arrangement.</p>

        <p>Du kan også logge ind for at <b>rette</b> og se <b>status</b> for din tilmelding.</p>

        <form method="POST">
            {% csrf_token %}

            {% if authentication_form.errors %}
                <p class="alert alert-danger has-error">Forkert brugernavn eller kodeord</p>
            {% endif %}

                <div id="div_id_username" class="form-group">
                    <label for="id_username" class="control-label  requiredField">
                        Brugernavn
                    </label>
                    <div class="controls ">
                        <input class="textinput textInput form-control" id="id_username" maxlength="254" name="username" type="text" />
                    </div>
                </div>

                <div id="div_id_password" class="form-group">
                    <label for="id_password" class="control-label  requiredField">
                        Adgangskode
                    </label>
                    <div class="controls ">
                        <input class="textinput textInput form-control" id="id_password" name="password" type="password" />
                    </div>
                </div>

            <div class="form-actions">
                <button class="btn btn-danger" name="submit_login" id="submit-id-submit_login">
                    <i class="fa fa-lock"></i> Log ind
                </button>
                <a class="btn btn-danger" href="{% url "auth_password_reset" %}"><i class="fa fa-question"></i> Glemt dit kodeord?</a>
            </div>
        </form>

        <br/>

    </div>
    </div>
</div>

{% endblock %}