{% extends "site.html" %}
{% load crispy_forms_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Log ind' 'members_login' %}
{% endblock %}

{% block contenthead %}Log ind{% endblock %}

{% block content %}

<p>Hvis du ikke har en selvbetjening bruger, skal du først <a href="{% url quickregistration_register %}">oprette en her</a>.</p>

    {% if next and user.is_authenticated %}
        <div class="alert alert-block alert-error">
            <h4 class="alert-header">Adgang nægtet</h4>
            <p>Du har desværre ikke adgang til siden <strong>{{ SITE_URL }}/{{ next }}</strong>.</p>
        </div>
    {% elif next %}
    <div class="alert alert-block alert-information">
        <h4 class="alert-header">Log ind for at se denne side</h4>
        <p>Du har besøgt siden <strong>{{ SITE_URL }}{{ next }}</strong> som kræver en selvbetjening bruger. Log ind nedenfor eller <a href="{% url quickregistration_register %}">oprette en bruger nu</a>.</p>
    </div>
    {% endif %}

    {% crispy form form.helper %}

<ul class="table-options">
    <li>&#187; <a href="{% url auth_password_reset %}">Glemt dit kodeord?</a></li>
    <li>&#187; <a href="{% url quickregistration_register %}">Opret bruger</a></li>
</ul>

{% endblock %}