{% extends "site.html" %}
{% load uni_form_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Log ind' 'members_login' %}
{% endblock %}

{% block contenthead %}Log ind{% endblock %}

{% block content %}

<p>Hvis du ikke har en selvbetjening bruger, skal du først <a href="{% url quickregistration_register %}">oprette en her</a>.</p>

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

<ul class="table-options">
    <li>&#187; <a href="{% url auth_password_reset %}">Glemt dit kodeord?</a></li>
    <li>&#187; <a href="{% url quickregistration_register %}">Opret bruger</a></li>
</ul>

{% endblock %}