{% extends "profile/profile.html" %}
{% load crispy_forms_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Opdater dit billede' 'members_editpicture' %}
{% endblock %}

{% block contenthead %}Opdater dit billede{% endblock %}

{% block content %}

{% with form.helper as helper %}
    {% crispy form helper %}
{% endwith %}

<h2>Dit nuværende billede</h2>

<div id="profile-image">
    {% if user.get_profile.picture %}
    <img src="{{MEDIA_URL}}{{user.get_profile.picture}}">
    {% else %}
    <img src="{{STATIC_URL}}no_account_picture.jpg">
    {% endif %}
</div>

{% endblock %}