{% extends "site.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Din profil' 'members_profile' %}
{% endblock %}

{% block contenthead %}{{viewed_user.username}}{% endblock %}

{% block content %}

{% if not own_privacy.public_profile %}
<div class="notice">
<p>Din profil er ikke offentlig og kan derfor ikke ses af foreningens medlemmer.<br/><a href="{% url members_editprivacy %}">Du skal ændre dine privacy indstillinger for at gøre din profil synlig.</a></p>
</div>
{% endif %}

{% include "profile/parts/profile.html" %}

{% endblock %}