{% extends "profile/username_change.html" %}
{% load crispy_forms_tags %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Bekræft ændring' %}
{% endblock %}

{% block contenthead %}Bekræft ændring af dit brugernavn{% endblock %}

{% block content %}

<p>Er du sikker på at du vil skifte dit brugernavn til <b>{{new_username}}</b>?</p>

<form action="" class="uniForm" method="post">{% csrf_token %}
{% for field in form %}{{ field.as_hidden }}
{% endfor %}
<input type="hidden" name="{{ stage_field }}" value="2" />
<input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />

 <div class="buttonHolder">
    <span><a href="{% url members_username_change %}">Fortryd ændring</a></span>
    <input type="submit" value="Ja, ændre mit brugernavn" class="submit submitButton" />
</div>

</form>

{% endblock %}