{% extends "profile/profile.html" %}
{% load uni_form_tags %}

{% block extraheader %}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Ændre brugernavn' 'members_username_change' %}
{% endblock %}

{% block contenthead %}Ændre dit brugernavn{% endblock %}

{% block content %}

<p class="warning">Du er ved at ændre dit brugernavn! Vi beder dig overveje følgende før du fortsætter.</p>

<p>Dit brugernavn er dit navn udadtil for foreningens andre medlemmer. Ved at skifte dit brugernavn kan det kortvarigt være svært for andre at gennemskue at du blot har skiftet brugernavn og ikke er en helt anden person.</p>

<p>Af denne grund beder vi vores brugerer om at begrænse ændringer af deres brugernavn og tænke sig om før de ændre det.</p>

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

{% endblock %}