{% extends "site.html" %}

{% block contenthead %}Arrangementer{% endblock %}

{% block content %}

<p>Her kan du se alle arrangementer du er tilmeldt .</p>

{% if attends %}
<table class="horizontal">
<tr>
    <th>Navn</th>
    <th>Dato</th>
    <th>År</th>
    <th style="width:30%">&nbsp;</th>
</tr>

{% for attend in attends %}
    <tr>
        <td><a href="{% url eventregistration_view attend.event.id %}">{{attend.event.title}}</a></td>
        <td>{{attend.event.startdate.day}}/{{attend.event.startdate.month}} - {{attend.event.enddate.day}}/{{attend.event.enddate.month}}</td>
        <td>{{attend.event.startdate.year}}</td>
        <td></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>Ingen registrerede arrangementer.</p>
{% endif %}

{% endblock %}