{% extends "site.html" %}

{% block contenthead %}Arrangementer{% endblock %}

{% block content %}

{% url eventregistration_view_all as all_events_url %}

<p>Her kan du se alle arrangementer du har deltaget i eller er tilmeldt.</p>

{% if all_events_url %}
<p><a href="{{all_events_url}}">Se alle arrangementer.</a></p>
{% endif %}

{% if attends %}
<table class="horizontal">

{% for attend in attends %}
    {% ifchanged attend.event.startdate.year %}
    <tr>
        <th colspan="3">
        {{attend.event.startdate.year}}
        </th>
    </tr>
    {% endifchanged %}

    <tr>
        <td><a href="{% url eventregistration_view attend.event.id %}">{{attend.event.title}}</a></td>

        <td>
        {% if attend.event.startdate.month == attend.event.enddate.month %}
          {% if attend.event.startdate.day == attend.event.enddate.day %}
            {{attend.event.startdate.day}}
          {% else %}
            {{attend.event.startdate.day}}-{{attend.event.enddate.day}}
          {% endif %}
          {{attend.event.startdate|date:"F"}}

        {% else %}
        {{attend.event.startdate.day}} {{attend.event.startdate|date:"F"}} - {{attend.event.enddate.day}} {{attend.event.enddate|date:"F"}}
        {% endif %}
        </td>

        <td></td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>Ingen registrerede arrangementer.</p>
{% endif %}

{% endblock %}