{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url members_profile %}">profil</a></li>
{% endblock %}

{% block contenthead %}{{user.username}}{% endblock %}

{% block content %}

<div id="profile-info">


<table id="profile-matrix" class="vertical">
<tr>
    <th>Navn:</th>
    <td>{{user.first_name}} {{user.last_name}}</td>
</tr>
<tr>
    <th>Fødselsdato:</th>
    <td>{{user.get_profile.dateofbirth|date:"d/m - Y"}} ({{user.get_profile.get_age}} år)</td>
</tr>

<tr>
    <th>Adresse:</th>
    <td>
    {{user.get_profile.street}}<br/>
    {% if user.get_profile.postalcode %}{{user.get_profile.postalcode}}{% endif %} {{user.get_profile.city}}<br/>
    {{user.get_profile.country}}
    </td>
</tr>

<tr class="pause">
    <td colspan="2"></td>
</tr>

<tr>
    <th>Telefon:</th>
    <td >{% if user.get_profile.phonenumber %}{{user.get_profile.phonenumber}}{% endif %}</td>
</tr>
<tr>
    <th>Email:</th>
    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
</tr>
{% for communication in user.usercommunication_set.all %}

<tr>
    <th>{{communication.get_method_display}}</th>
    <td>{{communication.identification}}</td>
</tr>

{% endfor %}

{% for website in user.userwebsite_set.all %}

{% if forloop.first %}
<tr class="pause">
    <td colspan="2"></td>
</tr>
{% endif %}

<tr>
    {% if forloop.first %}<th>Hjemmesider</th>{% else %}<th>&nbsp;</th>{% endif %}
    <td><a href="{{website.url}}">{{website.name}}</a></td>
</tr>
{% endfor %}

</table>
</div>

<div id="profile-image" class="right">
    {% if user.get_profile.picture %}
    <img src="{{MEDIA_URL}}{{user.get_profile.picture}}">
    {% else %}
    <img src="{{MEDIA_URL}}/no_account_picture.jpg">
    {% endif %}
</div>

{{ add_to_profile|safe }}

{% endblock %}