{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url members_profile %}">profil</a></li>
{% endblock %}

{% block contenthead %}Velkommen {% if user.first_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}{% endblock %}

{% block content %}
<p>På denne side kan du se de oplysninger vi har registreret for din bruger. Vi beder dig venligst holde disse oplysninger opdateret. Nederst på siden kan du også se de arrangementer som du har deltaget i, er tilmeldt eller kan tilmelde dig.</p>

<h2>Personoplysninger</h2>

<table class="vertical">
<tr>
    <th>Navn</th>
    <td>{{user.first_name}} {{user.last_name}}</td>
</tr>
<tr>
    <th>Fødselsdag</th>
    <td>{{user.get_profile.dateofbirth|date:"d/m - Y"}}</td>
</tr>
<tr>
    <th>Alder</th>
    <td>{{user.get_profile.get_age}}</td>
</tr>
<tr>
    <th>Email</th>
    <td>{{user.email}}</td>
</tr>
<tr>
    <th>Må vi sende emails til dig?</th>
    <td>{{user.get_profile.send_me_email|yesno}}</td>
</tr>
<tr>
    <th>Telefon #</th>
    <td >{% if user.get_profile.phonenumber %}{{user.get_profile.phonenumber}}{% endif %}</td>
</tr>
<tr>
    <th>Gade</th>
    <td >{{user.get_profile.street}}</td>
</tr>
<tr>
    <th>Postnummer &amp; by</th>
    <td>{% if user.get_profile.postalcode %}{{user.get_profile.postalcode}}{% endif %} {{user.get_profile.city}}</td>
</tr>
<tr>
    <th>Land</th>
    <td>{{user.get_profile.country}}</td>
</tr>
</table>

<p><a href="{% url members_editprofile %}">Ændre personoplysninger</a></p>

{{ add_to_profile|safe }}

{% endblock %}