{% extends "admin/base_site.html" %}

{% load adminmedia %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">Hjem</a> &rsaquo;
     <a href="../../../">Mailcenter</a> &rsaquo;
     <a href="../../">Mails</a> &rsaquo;
     <a href="../">{{ mail }}</a> &rsaquo;
     Confirm Send E-mail
</div>
{% endblock %}

{% block content_title %}
<h2>Confirm Send E-mails for {{ mail }}</h2>
{% endblock %}

{% block content %}

<p>Denne email vil blive sendt til {{accept|length}} personer.{% if deny %} {{deny|length}} personer er blevet ignoreret.{% endif %}</p>

<form method="POST" action="">

    {% for fieldset in adminform %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}

    <div class="submit-row" >
    <input type="submit" value="Send E-mails" name="send_emails" />
    </div>

</form>

{% endblock %}