{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url events_view_all %}">arrangementer</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url events_signoff event.id %}">tilmelding lukket</a></li>
{% endblock %}

{% block contenthead %}
Tilmelding og afmelding fra dette arrangement er lukket
{% endblock %}

{% block content %}

    <p>Tilmelding og afmelding fra dette arrangement er lukket. Dette skyldes enten at arrangementet
    har været afholdt eller at der mangler noget planlægning før tilmeldingen kan starte.</p>

{% endblock %}