{% extends "site.html" %}

{% load markup core_tags uniform %}

{% block extraheader %}
    {% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><span>eventmode</span>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_activate %}">aktiver</a></li>
{% endblock %}

{% block contenthead %}
<h2>Aktiver arrangement-mode</h2>
{% endblock %}

{% block content %}

<p>Du skal indtaste en passphrase for at aktivere event-mode. Hvis du ikke ved hvad event-mode er så 
er denne funktion ikke noget for dig. Hvis du aligvel er nysgerrig kan du læse mere <a href="{% url eventmode_info %}">her</a>.</p>

{{ form|uniform:"aktiver event-mode" }}

{% endblock %}