{% load markup %}
{% extends "site.html" %}

{% block breadcrumbs %}
<li><span>eventmode</span>&nbsp;&gt;&nbsp;</li>
<li><span>checkin</span>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_checkin event.id %}">{{event.title}}</a></li>
{% endblock %}

{% block contenthead %}
<h2>{{event.title}}</h2>
{% endblock %}

{% block content %}

{% if attendees %}

    <table class="horizontal">
        <tr>
            <th>Navn</th>
            <th>Brugernavn</th>
            <th>&nbsp;</th>
        </tr>
    
    {% for attendee in attendees %}
        <tr>
            <td>{% ifequal attendee.user.id user.id %}<b>{% endifequal %}
                        {{attendee.user.first_name}} {{attendee.user.last_name}}
                    {% ifequal attendee.user.id user.id %}</b>{% endifequal %}</td>
            <td>{% ifequal attendee.user.id user.id %}<b>{% endifequal %}
                        {{attendee.user.username}}
                    {% ifequal attendee.user.id user.id %}</b>{% endifequal %}</td> 
            <td>{% if not attendee.has_attended %}<a href="{% url eventmode_usercheckin event.id,attendee.user.id %}">Checkin</a>{% endif %}</td>
        </tr>
    {% endfor %}
    
    </table>
    
    

{% else %}
    <p>Ingen personer tilbage.</p>
{% endif %}

{% endblock %}