{% extends "selvbetjening/sitebase.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
      <h1>{{event.title}}</h1>

      {% if event.tagline %}<h2>{{ event.tagline|safe }}</h2>{% endif %}
      {% if event.startdate %}<p><strong>Tid:</strong> {{event.startdate|date:"j/n"}} - {{event.enddate|date:"j/n"}} {{event.enddate|date:"Y"}}</p>{% endif %}
      {% if event.location %}<p><strong>Sted:</strong> Huset {% if event.location_link %}(<a href="{{ event.location_link }}">kort</a>){% endif %}</p>{% endif %}
      {% if event.maximum_attendees %}<p><strong>Pladser:</strong> {{ event.maximum_attendees }} pladser</p>{% endif %}

  </div>
</div>

{% if not event.is_registration_open %}
    <p class="alert alert-danger">Tilmeldingen er ikke åbnet på nuværende tidspunkt.</p>
{% endif %}

<div class="row">
<div class="col-lg-8">

    {{event.description|safe}}

{% if is_attendee %}
<h3>Du er tilmeldt</h3>

    <a class="btn btn-primary" href="{% url "eventportal_event_status" event.pk %}">Se din status</a>
    <a class="btn btn-primary" href="{% url "eventportal_event_status_update" event.pk %}">Opdatér din status</a>
    <a class="btn btn-danger" href="{% url "eventportal_event_unregister" event.pk %}">Fjern din tilmelding</a>

{% else %}
    {% if event.is_registration_open %}
        <p><a href="{% url "eventportal_event_register" event.pk %}" class="btn btn-primary btn-lg">Tilmeld dig</a></p>
    {% endif %}
{% endif %}
</div>

<div class="col-lg-4">

    <table class="table">
        <tr>
            <th colspan="2">Tilmeldte</th>
        </tr>
        <tr>
            <td>Venter på godkendelse</td>
            <td>{{ attendee_stats.waiting }}</td>
        </tr>
        <tr>
            <td>Godkendte tilmeldinger</td>
            <td>{{ attendee_stats.accepted }}</td>
        </tr>

        {% for option in public_options %}
            {% ifchanged option.group.name %}
                <tr>
                    <th colspan="2">{{option.group.name}}</th>
                </tr>
            {% endifchanged %}

            <tr>
                <td>{{option.name}}</td>
                <td>{{option.confirmed_selections_count}}</td>
            </tr>

        {% endfor %}
    </table>

</div>
</div>

<div class="row">
<div class="col-lg-12">

<h2>Deltagerliste</h2>

<table class="table">
    <tr>
        <th>#</th>
        <th>Navn</th>
        <th>Brugernavn</th>
        <th>&nbsp;</th>
    </tr>

    {% for attendee in confirmed_attendees %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
            <td>{{attendee.user.username}}</td>
            <td>
            {% if event.has_been_held and attendee.state == "waiting" %}
                Deltog ikke
            {% endif %}
            </td>
        </tr>
    {% endfor %}

    {% if confirmed_attendees and waiting_attendees %}
    <tr>
        <td colspan="4"><center>---</center></td>
    </tr>
    {% endif %}

    {% for attendee in waiting_attendees %}
        <tr>
            <td></td>
            <td>{{attendee.user.first_name}} {{attendee.user.last_name}}</td>
            <td>{{attendee.user.username}}</td>
            <td>
                {% ifequal event.move_to_accepted_policy "on_payment" %}
                Venter på betaling
                {% else %}
                Venter på godkendelse
                {% endifequal %}
            </td>
        </tr>
    {% endfor %}

    {% if not confirmed_attendees and not waiting_attendees %}
    <tr>
        <td colspan="4">Ingen tilmeldte</td>
    </tr>
    {% endif %}



</table>

</div>
</div>

{% endblock %}
