{% extends "selvbetjening/sitebase.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Tilmelding</h1>
    <h2>{{ event.title }}</h2>
    <p>Udfyld formularen nedenfor for at tilmelde dig dette event.</p>

<form method="POST" class="form-horizontal">
    {% csrf_token %}

    {% for form in formset %}
        {% crispy form %}
    {% endfor %}

    <div class="form-actions">
        <input type="submit" name="register" value="Tilmeld dig" class="btn btn-primary" />
    </div>

</form>

{% endblock %}