{% extends "events/base.html" %}

{% block contenthead %}Arrangementer{% endblock %}

{% block content %}

{% block description %}
<p>Her vil du kunne finde en liste over samtlige events. Har du en selvbetjening bruger, har du mulighed for at tilmelde dig fremtidige events og arrangementer.</p>
{% endblock %}

{% block list %}
{% if events %}
<table class="table">

    {% for event in events %}
        {% ifchanged event.startdate.year %}
        <tr>
            <th colspan="3">
            {{event.startdate.year}}
            </th>
        </tr>
        {% endifchanged %}

        <tr>
            <td><a href="{% url "eventportal_event" event.id %}">{{event.title}}</a></td>

            <td>
            {% if event.startdate.month == event.enddate.month %}
                {% if event.startdate.day == event.enddate.day %}
                    {{event.startdate.day}}
                {% else %}
                    {{event.startdate.day}}-{{event.enddate.day}}
                {% endif %}
                {{event.startdate|date:"F"}}

            {% else %}
                {{event.startdate.day}} {{event.startdate|date:"F"}} - {{event.enddate.day}} {{event.enddate|date:"F"}}
            {% endif %}
            </td>

            <td>{% if event.is_registration_open %}Åben for tilmelding{% endif %}</td>
        </tr>

    {% endfor %}
    </table>
{% else %}

    <p>Ingen registrerede arrangementer.</p>

{% endif %}
{% endblock %}

{% endblock %}