{% extends "sadmin/mailcenter/base.html" %}
{% load uni_form_tags i18n %}

{% block content_title %}
    <h1>{% trans "Create E-mail Draft" %}</h1>
{% endblock %}

{% block content %}

<p>Please select the subject of the new e-mail draft.</p>

<form method="POST" action="" class="uniForm">

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

<div class="buttonHolder">
  <input type="submit" name="submit_email_template" value="{% trans "Create" %}"
    class="submit submitButton" />
</div>

</form>

{% endblock %}