{% extends "sadmin/mailcenter/base.html" %}

{% block page_heading %}
    <h1>E-mails</h1>
{% endblock %}

{% block content %}

{% for email in emails %}

    {% if forloop.first %}
    <table>
    <tr>
        <th>Subject</th>
        <th></th>
        <th>&nbsp;</th>
    </tr>
    {% endif %}

    <tr>
        <td>{{email.subject}}</td>
        <td></td>
        <td><a href="{% url sadmin:mailcenter_email_update email.pk %}">vis</a></td>
    </tr>

    {% if forloop.last %}
    </table>
    {% endif %}

{% empty %}

    No e-mails found in the system. <a href="{% url sadmin:mailcenter_emails_create %}">Create a new e-mail here.</a>

{% endfor %}

{% endblock %}