{% extends "sadmin/mailcenter/base.html" %}

{% block content %}
<div class="block">
  <form method="GET" action="">
    <input type="text" id="searchbox" name="search" autofocus="autofocus" autocomplete="off" placeholder="Søg efter e-mail destination eller emne" required="required" {% if query %}value="{{query}}"{% endif %} /> <input type="submit" value="" id="searchsubmit" />
  </form>
</div>

<div id="searchresults">
  {% include "sadmin/mailcenter/parts/outgoing_search.html" %}
</div>

{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript">
init_livesearch($('#searchbox'), $('#searchresults'), '{% url sadmin:mailcenter_ajax_outgoing_search %}?search=');
</script>

{% endblock %}