{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url registration_register %}">opret bruger</a>&nbsp;&gt;&nbsp;</li>
<li><span>bruger aktiveret</span></li>
{% endblock %}

{% block contenthead %}
        {% if success %}
        <h2>Din bruger er nu aktiveret</h2>
        {% else %}
        <h2>Vi kunne ikke aktivere din bruger</h2>
        {% endif %}
{% endblock %}
    
{% block content %}
        {% if success %}
        <p>Din selvbetjening bruger er nu aktiveret, besøg din egen bruger portal ved at logge på <a href="{% url home %}">her</a>. Du kan også besøge vores <a href="http://www.anime-kita.dk/forum/">forum</a> og møde andre medlemmer i foreningen. Du kan bruge det samme brugernavn og kodeord til forummet som til din selvbetjening bruger.</p>
        {% else %}
        <p>Vi kunne ikke finde din aktiverings-nøgle. Prøv at gøre følgende.</p>
        <ul>
                <li>Se om den url du har indtastet svarer til den vi har tilsendt din email.</li>
                <li>Tidsfristen for aktivering kan være udløbet. Du kan derfor være nød til at oprette en ny bruger igen <a href="{% url registration_register %}">her</a>.</li>
                <li>Hvis overstående ikke løser problemet, så kontakt os <a href="http://www.anime-kita.dk/kontakt/">her</a>, så vil vi hjælpe dig videre.</li>
        </ul>
        {% endif %}
{% endblock %}
