{% extends "extra.htm" %}

{% block breadcrumbs %}
<li><a href="{% url registration_register %}">bliv medlem</a>&nbsp;&gt;&nbsp;</li>
        {% if success %}
        <li><span>bruger aktiveret</span></li>
        {% else %}
        <li><span>fejl ved aktivering</span></li>
        {% endif %}
{% endblock %}

{% block contenthead %}
        {% if success %}
        <h2>Din bruger er nu aktiveret</h2>
        {% else %}
        <h2>Vi kunne ikke aktivere din bruger</h2>
        {% endif %}
{% endblock %}
    
{% block content %}
        {% if success %}
        <p>Din bruger er nu aktiveret og kan bruges på vores <a href="http://www.anime-kita.dk/forum/">forum</a> samt på <a href="{% url home %}">Kita selvbetjening</a>.
        {% else %}
        <p>Vi kunne ikke finde din aktiveringsnøgle i databasen. Prøv at gøre følgende.</p>
        <ul>
                <li>Se om den url du har indtastet svarer til den du har modtaget på din email.</li>
                <li>Det kan ske tidsfristen er udløbet for at aktivere din bruger, prøv eventuelt at ansøge igen <a href="{% url registration_register %}">her</a>.</li>
                <li>Hvis overstående ikke løser problemet, så kontakt os <a href="http://www.anime-kita.dk/kontakt/">her</a>, så vil vi hjælpe dig.</li>
        </ul>
        {% endif %}
{% endblock %}
