{% extends "site.html" %}

{% block breadcrumbs %}
<li><a href="{% url registration_register %}">opret bruger</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url registration_complete %}">email sendt</a></li>
{% endblock %}

{% block contenthead %}
<h2>Tak for din tilmelding</h2>
{% endblock %}

{% block content %}

<p>Vi har sendt en bekræftigelses email til dig, du skulle modtage denne inden for meget kort tid (normalt inden for et par minutter). Du skal bruge denne email for at aktivere din bruger.</p>

<p>Hvis du ikke har modtaget vores email inden for en time, så prøv at se i dit spam-filter, ellers kan du kontakte os <a href="http://anime-kita.dk/kontakt/">her</a>.</p>

{% endblock %}