{% load uniform %}
{% extends "site.html" %}

{% block extraheader %}
{% uniform_header %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url auth_login event.id %}">login</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url auth_password_reset %}">glemt kodeord</a></li>
{% endblock %}

{% block contenthead %}
<h2>Glemt kodeord</h2>
{% endblock %}

{% block content %}
<p>Giv os din email, og vi vil sende dig et nyt kodeord.</p>

<form method="POST" action="" class="uniForm">

<fieldset class="inlineLabels">
<legend>Send nyt kodeord</legend>

<div class="ctrlHolder">
  <label for="id_email">email</label>
  <input id="id_email" name="email" maxlength="50" type="text" class="textInput" />
</div>
</fieldset>

<fieldset class="inlineLabels"><div class="buttonHolder"><button type="submit" class="submitButton">Send nyt kodeord</button></div></fieldset>
</form>

{% endblock %}