<form class="well form-search">
    <input type="text" class="input-medium search-query" ng-model="attendeesQuery">
    <button type="submit" class="btn"><i class="icon-search"></i> Search</button>
</form>

<table class="table table-striped">

    <thead>
    <tr>
        <td>Brugernavn</td>
        <td>Navn</td>
        <td>E-mail</td>
        <td>Checked-in</td>
    </tr>
    </thead>

    <tbody ng-hide="!event.attendeesLoaded">
    <tr ng-repeat="attendee in event.attendees | filter:attendeesQuery">
        <td>{{ attendee.user.username }}</td>
        <td>{{ attendee.user.name }}</td>
        <td>{{ attendee.user.email }}</td>
        <td><a href="#/{{ event.eventId }}/attendees/{{ attendee.id }}"><span class="label label-success">{{ attendee.state }}</span></a></td>
    </tr>
    </tbody>
</table>

<div class="progress progress-striped active" ng-hide="event.attendeesLoaded">
    <div class="bar" style="width:{{ event.attendeesLoadProgress }}%;"></div>
</div>