
<div class="row-fluid attendee-state-indicator">
    <div class="span6">
        <h1>{{ attendee.user.name }} <small>Checked-in</small></h1>
    </div>

    <div class="span6">

    </div>
</div>

<div class="row-fluid">

    <div class="span6">

        <h3>Status</h3>

        <table class="table">

            <tr>
                <th>Tilmelding</th>
                <td>
                    <span class="label label-success">Tilmeldt</span> <i class="icon-chevron-right"></i>
                    <span class="label label-success">Accepteret</span> <i class="icon-chevron-right"></i>
                    <span class="label label-success">Checked-in</span>
                </td>
            </tr>

            <tr>
                <th>Betaling</th>
                <td>&nbsp;</td>
            </tr>

        </table>

        <div class="controls">

            <button ng-show="attendee.state != 'attended'" ng-click="checkin()" class="btn btn-success btn-large"><i class="icon-ok icon-white"></i> Check-in</button>

        </div>

        <h3>Noter</h3>

        <p>Der er ingen noter.</p>

        <h3>Log</h3>

    </div>

    <div class="span6">

        <form class="form" name="selectionForm">

        <h3>Tilvalg</h3>

        <fieldset ng-repeat="option_group in event.object.option_groups">
            <legend>{{ option_group.name }}</legend>

            <div class="control-group">
                <div class="controls" ng-repeat="option in option_group.options">
                    <label class="checkbox"><input type="checkbox" id="" ng-model="selections[option.resource_uri]" />
                        {{ option.name }} <span ng-show="option.price!=0">({{ option.price }},-)</span>
                    </label>
                </div>

            </div>

        </fieldset>

        </form>

    </div>


</div>