<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<base href="https://selvbetjening.anime-kita.dk/" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Anime Kita</title>
	<link rel="shortcut icon" href="https://selvbetjening.anime-kita.dk/static/favicon.ico" />
	<link rel="stylesheet" href="https://selvbetjening.anime-kita.dk/static/css/blueprint/compressed/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="https://selvbetjening.anime-kita.dk/static/css/blueprint/compressed/print.css" type="text/css" media="print" />

	<link rel="stylesheet" href="https://selvbetjening.anime-kita.dk/static/css/compressed/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="https://selvbetjening.anime-kita.dk/static/css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" type="text/css" href="https://selvbetjening.anime-kita.dk/static/css/compressed/default.css" media="screen, projection"/>
	<link rel="stylesheet" type="text/css" href="https://selvbetjening.anime-kita.dk/static/css/compressed/extra.css" media="screen, projection"/>
	
	
</head>
<body>

<div class="site">
<div class="container">
	<h1 id="banner" class="column span-7 last"><a href="http://www.anime-kita.dk/">Anime Kita</a></h1>

		
	<div id="breadcrumbs" class="column span-7 last small">
			<ul id="breadcrumbs">
				<li><a href="http://www.anime-kita.dk/">anime-kita.dk</a>&nbsp;&gt;&nbsp;</li>
				<li><a href="https://selvbetjening.anime-kita.dk/">selvbetjening</a>&nbsp;&gt;&nbsp;</li>
				<li><span>500 der er sket en alvorlig fejl</span></li>
			</ul>
	</div>

		
	<div id="container" class="column span-7 last">
	<div id="container-inner" class="column span-7 last">
	
	<div id="menu" class="column span-2">
		
		<ul>
			<li><a href="https://selvbetjening.anime-kita.dk">Til forsiden</a></li>	
		</ul>
		
	</div>

	<div id="content" class="column span-5 last">
		
		<h2>500 - Der er sket en fejl</h2>
		
		<p>Der er desværre sket en fejl under behandlingen af din forespørgelse. Der er blevet sendt en fejl-rapport til sidens administrator. Har du behov for det kan du kontakte os gennem <a href="mailto:kontakt@anime-kita.dk">kontakt@anime-kita.dk</a>.</p>

		
	</div>

	</div>
	</div>
		
		<p id="footer" class="column span-7 last small">
			Anime Kita, 2007 - 2008 &copy; All rights reserved<br />
			<span class="site-copy">Design by Louise Johansen</span>

		</p>
</div>

</div>
</body>
</html>