{% load core_tags %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<base href="{{SITE_URL}}/" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Anime Kita</title>
	<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/compressed/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/compressed/print.css" type="text/css" media="print" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/compressed/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/lib/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/compressed/default.css" media="screen, projection"/>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/compressed/extra.css" media="screen, projection"/>
	{% block extraheader %}
	{% endblock %}
</head>
<body>
{% if EVENTMODE %}
<div class="modebar">
<p>Denne maskine er i event-mode (<a href="{% url eventmode_info %}">hvad betyder dette?</a>)</p>
</div>
{% endif %}
<div class="site">
<div class="container">
	<h1 id="banner" class="column span-7 last"><a href="http://www.anime-kita.dk/">Anime Kita</a></h1>
		
	<div id="breadcrumbs" class="column span-7 last small">
		<ul>
			<li><a href="http://www.anime-kita.dk/">anime-kita.dk</a>&nbsp;&gt;&nbsp;</li>
			<li><a href="http://selvbetjening.anime-kita.dk/">selvbetjening</a>&nbsp;&gt;&nbsp;</li>
			{% block breadcrumbs %}{% endblock %}
		</ul>
	</div>
		
	<div id="container" class="column span-7 last">
	<div id="container-inner" class="column span-7 last">
	
	<div id="menu" class="column span-2">
		{% block navigation %}
		<ul>
					
			{% if user.is_authenticated %}
			<li><a href="{% url members_profile %}">Brugerportal</a></li>
			{% else %}
			<li><a href="{% url registration_register %}">Opret bruger</a></li>
			{% endif %}
			
			<li><a href="{% url events_view_all %}">Se arrangementer</a></li>
			<li><a href="{% url data_rules %}">Databehandling</a></li>

			{% if user.is_authenticated %}
			<li><a href="{% url auth_logout %}">Log ud</a></li>
			{% else %}
			<li><a href="{% url auth_login %}">Log ind</a></li>
			{% endif %}
			
			{% if perms.accounting.add_payment or perms.events.change_attend or perms.mailcenter.add_mail %}
			<li><b>Administration</b></li>
			{% endif %}
			
			{% if perms.accounting.add_payment %}
			<li><a href="{% url accounting_list %}">Medlemskaber</a></li>
			<li><a href="{% url accounting_payments %}">Betalinger</a></li>
			{% endif %}
			{% if perms.events.change_attend %}
			<li><a href="{% url eventmode_list %}">Event info</a></li>
			{% endif %}
			{% if perms.mailcenter.add_mail %}
			<li><a href="{% url mailcenter_list %}">Nyhedsbrev</a></li>
			{% endif %}
			
			{% if EVENTMODE %}
			<li><b>Event værktøjer</b></li>
			<li><a href="{% url registration_create_and_signup %}">Nyt medlem</a></li>
			<li><a href="{% url eventmode_deactivate %}">Forlad event-mode</a></li>
			{% endif %}
					
		</ul>
		{% endblock %}
	</div>

	<div id="content" class="column span-5 last">
		{% block contenthead %}{% endblock %}
			
		{% if messages or session_message %}
		<ul id="messages">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			{% if session_message %}
			<li>{{session_message}}</li>
			{% endif %}
		</ul>
		{% endif %}
				
		{% block content %}{% endblock %}
	</div>

	</div>
	</div>
		
		<p id="footer" class="column span-7 last small">
			Anime Kita, {% copyright_time 2007 %} &copy; All rights reserved<br />
			<span class="site-copy">Design by Louise Johansen</span>
		</p>
</div>

{% if GOOGLE_ANALYTICS_ACCOUNT and not DEBUG %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{GOOGLE_ANALYTICS_ACCOUNT}}");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endif %}

</div>
</body>
</html>


