{% extends "site.html" %}

{% load markup core_tags %}

{% block breadcrumbs %}
<li><a href="{% url eventmode_list %}">event info</a>&nbsp;&gt;&nbsp;</li>
<li><a href="{% url eventmode_options event.id %}">{{event.title}} tilvalg</a></li>
{% endblock %}

{% block contenthead %}
<h2>Tilvalg</h2>
{% endblock %}

{% block content %}

{% if optiongroups %}

    <table class="horizontal">
    <tr>
        <th>Navn</th>
        <th>Valgte</th>
        <th style="width:30%">&nbsp;</th>
    </tr>
    {% for optiongroup in optiongroups %}

    <tr>
        <td colspan="3"><b>{{optiongroup.name}}</b></td>
    </tr>

        {% for option in optiongroup.option_set.all %}
            <tr>
                <td>{{option.name}}</td>
                <td>{{option.count}}</td>
                <td>
                    {% icon_link "detaljer" page_white_text eventmode_options_detail event.id option.id %}
                </td>
            </tr>
        {% endfor %}

    {% endfor %}
    </table>

{% else %}

    <p>Ingen tilføjede tilvalg.</p>

{% endif %}

{% endblock %}